Repository ansys/pymaterials-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Maintenance, Dependencies, CI/CD, Testing, Enhancement

Run poetry update
  poetry.lock
  pyproject.toml
Labels: Maintenance, Dependencies

Update version of MAPDL to test
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Fix busted test in python 3.12
  tests/fluent/test_serialize_props.py
Labels: Testing

Update version of build smoke tests
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Fix MAPDL package name
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Update CONTRIBUTORS.md with the latest contributors
  CONTRIBUTORS.md
Labels: none

Update CONTRIBUTORS.md with the latest contributors (#330)
  CONTRIBUTORS.md
Labels: none

Update CONTRIBUTORS.md with the latest contributors
  CONTRIBUTORS.md
Labels: none

Update CONTRIBUTORS.md with the latest contributors (#337)
  CONTRIBUTORS.md
Labels: none

Use Python 3.13 in CI
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Satisfy pydocstyle and codespell
  .codespellrc
  doc/styles/config/vocabularies/ANSYS/accept.txt
  tox.ini
Labels: none

Fiddle with tox setup
  .github/workflows/ci_cd.yml
  tox.ini
Labels: Maintenance, CI/CD

Bump dependenceis after pymapdl 0.70
  poetry.lock
  pyproject.toml
Labels: Maintenance, Dependencies

Update pyproject.toml to allow 3.13
  pyproject.toml
Labels: Maintenance, Dependencies

Take two
  .github/workflows/ci_cd.yml
  tox.ini
Labels: Maintenance, CI/CD

Fix integration and fiddle with envs
  .github/workflows/ci_cd.yml
  tox.ini
Labels: Maintenance, CI/CD

Copy setup from recordlists
  .github/workflows/ci_cd.yml
  tox.ini
Labels: Maintenance, CI/CD

Use Python 3,13 in CI (#286)
  .codespellrc
  .github/workflows/ci_cd.yml
  doc/styles/config/vocabularies/ANSYS/accept.txt
  poetry.lock
  pyproject.toml
  tox.ini
Labels: Maintenance, Dependencies, CI/CD

implement basic classes
  src/ansys/materials/manager/_models/_common/dependent_parameter.py
  src/ansys/materials/manager/_models/_common/independent_parameter.py
  src/ansys/materials/manager/_models/_common/material_model.py
  src/ansys/materials/manager/_models/_material_models/ElasticityIsotropic.py
  src/ansys/materials/manager/_models/material.py
Labels: Enhancement

fixes
  src/ansys/materials/manager/_models/_common/dependent_parameter.py
  src/ansys/materials/manager/_models/_common/independent_parameter.py
  src/ansys/materials/manager/_models/_material_models/ElasticityIsotropic.py
  src/ansys/materials/manager/_models/material.py
Labels: Enhancement

add tests
  src/ansys/materials/manager/_models/_common/independent_parameter.py
  src/ansys/materials/manager/_models/_material_models/ElasticityIsotropic.py
  src/ansys/materials/manager/_models/_material_models/__init__.py
  tests/common/test_dependent_parameter.py
  tests/common/test_independent_parameter.py
  tests/test_material_models/test_elasticity_isotropic.py
Labels: Testing, Enhancement

add tests
  examples/trial.py
  src/ansys/materials/manager/_models/__init__.py
  src/ansys/materials/manager/_models/_common/material_model.py
  src/ansys/materials/manager/_models/_material_models/elasticity_isotropic.py
  tests/test_material_models/test_elasticity_isotropic.py
Labels: Testing, Enhancement

remove trial
  examples/trial.py
Labels: none

add interpolation options
  src/ansys/materials/manager/_models/_common/interpolation_options.py
  src/ansys/materials/manager/_models/_common/material_model.py
  tests/common/test_interpolation_options.py
Labels: Testing, Enhancement

add pydantic
  pyproject.toml
  src/ansys/materials/manager/_models/_common/dependent_parameter.py
  src/ansys/materials/manager/_models/_common/independent_parameter.py
  src/ansys/materials/manager/_models/_common/interpolation_options.py
  src/ansys/materials/manager/_models/_common/material_model.py
  src/ansys/materials/manager/_models/_material_models/elasticity_isotropic.py
  tests/common/test_independent_parameter.py
  tests/material_models/test_anisotropic_elasticity.py
  tests/material_models/test_elasticity_isotropic.py
Labels: Maintenance, Dependencies, Testing, Enhancement

remove leftover
  tests/material_models/test_elasticity_isotropic.py
Labels: Testing

fixes
  tests/material_models/test_elasticity_isotropic.py
Labels: Testing

poetry lock
  poetry.lock
Labels: none

trial implementation
  examples/data/MatML_unittest_variable_elasticity.xml
  examples/data/material_isotropic.xml
  examples/trial.py
  src/ansys/materials/manager/_models/_common/independent_parameter.py
  src/ansys/materials/manager/_models/_common/material_model.py
  src/ansys/materials/manager/_models/_material_models/elasticity_isotropic.py
  src/ansys/materials/manager/_models/_material_models/elasticity_orthotropic.py
  src/ansys/materials/manager/_models/material.py
  src/ansys/materials/manager/util/matml/matml_to_material.py
Labels: Enhancement

Update src/ansys/materials/manager/_models/_common/independent_parameter.py
  src/ansys/materials/manager/_models/_common/independent_parameter.py
Labels: Enhancement

Update src/ansys/materials/manager/_models/_common/interpolation_options.py
  src/ansys/materials/manager/_models/_common/interpolation_options.py
Labels: Enhancement

Update src/ansys/materials/manager/_models/material.py
  src/ansys/materials/manager/_models/material.py
Labels: Enhancement

Update src/ansys/materials/manager/_models/_material_models/elasticity_isotropic.py
  src/ansys/materials/manager/_models/_material_models/elasticity_isotropic.py
Labels: Enhancement

Update src/ansys/materials/manager/_models/_common/interpolation_options.py
  src/ansys/materials/manager/_models/_common/interpolation_options.py
Labels: Enhancement

Update src/ansys/materials/manager/_models/_material_models/elasticity_isotropic.py
  src/ansys/materials/manager/_models/_material_models/elasticity_isotropic.py
Labels: Enhancement

fixes
  src/ansys/materials/manager/_models/_common/independent_parameter.py
  src/ansys/materials/manager/_models/_common/interpolation_options.py
  src/ansys/materials/manager/_models/material.py
  tests/common/test_independent_parameter.py
  tests/common/test_interpolation_options.py
  tests/material_models/test_elasticity_isotropic.py
Labels: Testing, Enhancement

finish comments
  src/ansys/materials/manager/_models/_material_models/elasticity_isotropic.py
  tests/material_models/test_elasticity_isotropic.py
Labels: Testing, Enhancement

trial
  src/ansys/materials/manager/_models/_common/material_model.py
  src/ansys/materials/manager/util/matml/matml_from_material.py
  src/ansys/materials/manager/util/matml/property_to_model_field.py
Labels: Enhancement

fixes
  src/ansys/materials/manager/util/matml/matml_from_material.py
Labels: Enhancement

add
  examples/data/template1.xml
  examples/trial.py
  src/ansys/materials/manager/_models/__init__.py
  src/ansys/materials/manager/_models/_material_models/elasticity_isotropic.py
  src/ansys/materials/manager/_models/_material_models/elasticity_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/hill_yield_criterion.py
  src/ansys/materials/manager/_models/_material_models/isotropic_hardening.py
  src/ansys/materials/manager/util/matml/matml_from_material.py
  src/ansys/materials/manager/util/matml/matml_to_material.py
  src/ansys/materials/manager/util/matml/property_to_model_field.py
  tests/material_models/test_elasticity_isotropic.py
Labels: Testing, Enhancement

.github/labeler.yml:

Documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'README.rst']

Maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', 'pyproject.toml']

Dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*']

Testing:
- changed-files:
  - any-glob-to-any-file: ['tests/**/*']

Enhancement:
- changed-files:
  - any-glob-to-any-file: ['src/**/*']
