Repository ansys/pymaterials-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, enhancement, testing

.github/labeler.yml:

documentation:
- doc/source/**/*
- README.rst
maintenance:
- .github/**/*
- .flake8
- pyproject.toml
dependencies:
- requirements/*
enhancement:
- ansys/**
testing:
- tests/**

trial
  examples/trial.py
  src/ansys/materials/manager/_models/_common/common.py
  src/ansys/materials/manager/_models/_material_models/cofficient_of_thermal_expansion_isotropic.py
  src/ansys/materials/manager/_models/_material_models/cofficient_of_thermal_expansion_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/elasticity_isotropic.py
  src/ansys/materials/manager/_models/_material_models/elasticity_orthotropic.py
  src/ansys/materials/manager/material_manager.py
  src/ansys/materials/manager/util/common_writer.py
  src/ansys/materials/manager/util/mapdl/writer_mapdl.py
Labels: none

fix fluent too
  src/ansys/materials/manager/_models/_common/common.py
  src/ansys/materials/manager/_models/_material_models/molecular_weight.py
  src/ansys/materials/manager/util/fluent/__init__.py
  src/ansys/materials/manager/util/fluent/writer_fluent.py
  src/ansys/materials/manager/util/mapdl/__init__.py
  src/ansys/materials/manager/util/mapdl/writer_mapdl.py
  src/ansys/materials/manager/util/mapdl/writer_mapdl_utils.py
  tests/fluent/test_density_fluent.py
  tests/fluent/test_molecular_weight_fluent.py
Labels: testing

add dyna writer
  examples/trial.py
  pyproject.toml
  src/ansys/materials/manager/_models/_common/common.py
  src/ansys/materials/manager/_models/_material_models/density.py
  src/ansys/materials/manager/_models/_material_models/elasticity_isotropic.py
  src/ansys/materials/manager/util/__init__.py
  src/ansys/materials/manager/util/common_writer.py
  src/ansys/materials/manager/util/fluent/writer_fluent.py
  src/ansys/materials/manager/util/ls_dyna/__init__.py
  src/ansys/materials/manager/util/ls_dyna/writer_ls_dyna.py
  src/ansys/materials/manager/util/mapdl/__init__.py
  src/ansys/materials/manager/util/mapdl/writer_mapdl.py
Labels: maintenance

add test
  tests/ls_dyna/test_elasticity_lsdyna_write.py
Labels: testing

optional wbtransfer data
  src/ansys/materials/manager/util/matml/matml_from_material.py
Labels: none

fix lock file
  poetry.lock
Labels: none

fix regression test
  src/ansys/materials/manager/util/mapdl/writer_mapdl.py
Labels: none

fix validation
  src/ansys/materials/manager/_models/_common/material_model.py
Labels: none

fix failures
  tests/data/matml_orthotropic_elasticity.txt
  tests/data/matml_orthotropic_elasticity_metadata.txt
  tests/data/matml_orthotropic_elasticity_variable.txt
  tests/matml/test_elasticity_matml.py
Labels: testing

add
  examples/demo.py
  src/ansys/materials/manager/material_manager.py
  src/ansys/materials/manager/util/common.py
  src/ansys/materials/manager/util/fluent/writer_fluent.py
  src/ansys/materials/manager/util/ls_dyna/writer_ls_dyna.py
  src/ansys/materials/manager/util/mapdl/writer_mapdl.py
  src/ansys/materials/manager/util/matml/writer_matml.py
  src/ansys/materials/manager/util/writer.py
  tests/matml/test_density_matml.py
  tests/matml/test_elasticity_matml.py
  tests/matml/test_fabric_fiber_angle_matml.py
  tests/matml/test_hill_yield_matml.py
  tests/matml/test_isotropic_hardening_matml.py
  tests/matml/test_larc_matml.py
  tests/matml/test_puck_and_additional_puck_matml.py
  tests/matml/test_specific_heat_matml.py
  tests/matml/test_speed_of_sound_matml.py
  tests/matml/test_strain_limits_matml.py
  tests/matml/test_thermal_conductivity_matml.py
  tests/matml/test_thermal_expansion_coefficients_matml.py
  tests/matml/test_tsai_wu_matml.py
  tests/matml/test_user_mat_matml.py
  tests/matml/test_viscosity_matml.py
Labels: testing

fixes
  examples/data/material_isotropic.xml
  examples/manager_example.py
  src/ansys/materials/manager/material_manager.py
  src/ansys/materials/manager/util/__init__.py
  src/ansys/materials/manager/util/matml/writer_matml.py
Labels: none

support constant orthotropic elasticity dyna
  src/ansys/materials/manager/_models/_material_models/elasticity_orthotropic.py
  src/ansys/materials/manager/util/ls_dyna/writer_ls_dyna.py
  tests/ls_dyna/test_elasticity_lsdyna_write.py
Labels: testing

fixes
  src/ansys/materials/manager/material_manager.py
  src/ansys/materials/manager/util/ls_dyna/writer_ls_dyna.py
  src/ansys/materials/manager/util/ls_dyna/writer_ls_dyna_utils.py
  src/ansys/materials/manager/util/mapdl/writer_mapdl.py
  src/ansys/materials/manager/util/mapdl/writer_mapdl_utils.py
  tests/ls_dyna/test_elasticity_lsdyna_write.py
Labels: testing

fix
  src/ansys/materials/manager/_models/_material_models/color.py
  src/ansys/materials/manager/_models/_material_models/fiber_angle.py
  src/ansys/materials/manager/_models/_material_models/isotropic_hardening_voce_law.py
Labels: none

fix failure
  src/ansys/materials/manager/util/mapdl/writer_mapdl_utils.py
Labels: none

remove self
  src/ansys/materials/manager/util/mapdl/writer_mapdl_utils.py
Labels: none

fix
  src/ansys/materials/manager/material_manager.py
Labels: none

do not validate color
  src/ansys/materials/manager/_models/_common/material_model.py
Labels: none

add basic visitors
  src/ansys/materials/manager/util/visitors/__init__.py
  src/ansys/materials/manager/util/visitors/base_visitor.py
  src/ansys/materials/manager/util/visitors/matml_visitor.py
Labels: none

implement visitors
  examples/trial_visitor.py
  src/ansys/materials/manager/_models/_material_models/__init__.py
  src/ansys/materials/manager/util/ls_dyna/writer_ls_dyna.py
  src/ansys/materials/manager/util/visitors/base_visitor.py
  src/ansys/materials/manager/util/visitors/common.py
  src/ansys/materials/manager/util/visitors/lsdyna_visitor.py
  src/ansys/materials/manager/util/visitors/mapdl_visitor.py
  src/ansys/materials/manager/util/visitors/matml_strings.py
  src/ansys/materials/manager/util/visitors/matml_visitor.py
Labels: none

fix
  src/ansys/materials/manager/util/ls_dyna/writer_ls_dyna.py
Labels: none

fixes
  examples/trial_visitor.py
  src/ansys/materials/manager/util/visitors/base_visitor.py
  src/ansys/materials/manager/util/visitors/fluent_visitor.py
  src/ansys/materials/manager/util/visitors/lsdyna_visitor.py
  src/ansys/materials/manager/util/visitors/mapdl_visitor.py
  src/ansys/materials/manager/util/visitors/matml_visitor.py
Labels: none

add orthotropic elasticity
  examples/trial_visitor.py
  src/ansys/materials/manager/util/visitors/lsdyna_visitor.py
  src/ansys/materials/manager/util/visitors/mapdl_visitor.py
  src/ansys/materials/manager/util/visitors/matml_visitor.py
Labels: none

changes
  examples/trial_visitor.py
  src/ansys/materials/manager/_models/_material_models/elasticity_anisotropic.py
  src/ansys/materials/manager/util/mapdl/writer_mapdl_utils.py
  src/ansys/materials/manager/util/visitors/common.py
  src/ansys/materials/manager/util/visitors/lsdyna_visitor.py
  src/ansys/materials/manager/util/visitors/mapdl_utils.py
  src/ansys/materials/manager/util/visitors/mapdl_visitor.py
  src/ansys/materials/manager/util/visitors/matml_utils.py
  src/ansys/materials/manager/util/visitors/matml_visitor.py
Labels: none

make populate common
  src/ansys/materials/manager/util/visitors/base_visitor.py
  src/ansys/materials/manager/util/visitors/fluent_visitor.py
  src/ansys/materials/manager/util/visitors/lsdyna_visitor.py
  src/ansys/materials/manager/util/visitors/mapdl_utils.py
  src/ansys/materials/manager/util/visitors/mapdl_visitor.py
  src/ansys/materials/manager/util/visitors/matml_utils.py
  src/ansys/materials/manager/util/visitors/matml_visitor.py
Labels: none

add more models
  src/ansys/materials/manager/util/visitors/base_visitor.py
  src/ansys/materials/manager/util/visitors/mapdl_utils.py
  src/ansys/materials/manager/util/visitors/mapdl_visitor.py
  src/ansys/materials/manager/util/visitors/matml_visitor.py
Labels: none

fixes
  examples/trial_visitor.py
  src/ansys/materials/manager/_models/_material_models/hill_yield_criterion.py
  src/ansys/materials/manager/util/visitors/common.py
  src/ansys/materials/manager/util/visitors/fluent_model_map.py
  src/ansys/materials/manager/util/visitors/fluent_visitor.py
  src/ansys/materials/manager/util/visitors/ls_dyna_model_map.py
  src/ansys/materials/manager/util/visitors/lsdyna_visitor.py
  src/ansys/materials/manager/util/visitors/mapdl_model_map.py
  src/ansys/materials/manager/util/visitors/mapdl_utils.py
  src/ansys/materials/manager/util/visitors/mapdl_visitor.py
  src/ansys/materials/manager/util/visitors/matml_model_map.py
  src/ansys/materials/manager/util/visitors/matml_utils.py
  src/ansys/materials/manager/util/visitors/matml_visitor.py
Labels: none

chore: update CODE_OF_CONDUCT.md file
  CODE_OF_CONDUCT.md
Labels: none

chore: update CONTRIBUTING.md file
  CONTRIBUTING.md
Labels: none

chore: update SECURITY.md file
  SECURITY.md
Labels: none

remove parametricfield
  src/ansys/materials/manager/_models/_common/material_model.py
  src/ansys/materials/manager/_models/_material_models/cofficient_of_thermal_expansion_isotropic.py
  src/ansys/materials/manager/_models/_material_models/cofficient_of_thermal_expansion_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/color.py
  src/ansys/materials/manager/_models/_material_models/density.py
  src/ansys/materials/manager/_models/_material_models/elasticity_isotropic.py
  src/ansys/materials/manager/_models/_material_models/elasticity_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/fabric_fiber_angle.py
  src/ansys/materials/manager/_models/_material_models/hill_yield_criterion.py
  src/ansys/materials/manager/_models/_material_models/isotropic_hardening.py
  src/ansys/materials/manager/_models/_material_models/isotropic_hardening_voce_law.py
  src/ansys/materials/manager/_models/_material_models/kinematic_hardening.py
  src/ansys/materials/manager/_models/_material_models/larc03_04_constants.py
  src/ansys/materials/manager/_models/_material_models/molecular_weight.py
  src/ansys/materials/manager/_models/_material_models/puck_constants.py
  src/ansys/materials/manager/_models/_material_models/puck_constants_additional.py
  src/ansys/materials/manager/_models/_material_models/specific_heat.py
  src/ansys/materials/manager/_models/_material_models/speed_of_sound.py
  src/ansys/materials/manager/_models/_material_models/strain_hardening.py
  src/ansys/materials/manager/_models/_material_models/strain_limits_isotropic.py
  src/ansys/materials/manager/_models/_material_models/strain_limits_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/stress_limits_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/thermal_conductivity_isotropic.py
  src/ansys/materials/manager/_models/_material_models/thermal_conductivity_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/tsai_wu_constants.py
  src/ansys/materials/manager/_models/_material_models/viscosity.py
  src/ansys/materials/manager/_models/_material_models/zero_thermal_strain_reference_temperature_isotropic.py
  src/ansys/materials/manager/_models/_material_models/zero_thermal_strain_reference_temperature_orthotropic.py
Labels: none

change to writer
  examples/trial_visitor.py
  src/ansys/materials/manager/material_manager.py
  src/ansys/materials/manager/parsers/matml/matml_writer.py
  tests/matml/test_density_matml_write.py
  tests/matml/test_elasticity_matml_write.py
  tests/matml/test_fabric_fiber_angle_matml_write.py
  tests/matml/test_hill_yield_matml_write.py
  tests/matml/test_isotropic_hardening_matml_write.py
  tests/matml/test_larc_matml_write.py
  tests/matml/test_puck_and_additional_puck_matml_write.py
  tests/matml/test_specific_heat_matml_write.py
  tests/matml/test_speed_of_sound_matml_write.py
  tests/matml/test_strain_limits_matml_write.py
  tests/matml/test_thermal_conductivity_matml_write.py
  tests/matml/test_thermal_expansion_coefficients_matml_write.py
  tests/matml/test_tsai_wu_matml_write.py
  tests/matml/test_user_mat_matml_write.py
  tests/matml/test_viscosity_matml_write.py
Labels: testing

rename solver visitors
  examples/trial_visitor.py
  src/ansys/materials/manager/parsers/fluent/fluent_writer.py
  src/ansys/materials/manager/parsers/lsdyna/lsdyna_writer.py
  src/ansys/materials/manager/parsers/mapdl/mapdl_writer.py
Labels: none

fix
  src/ansys/materials/manager/parsers/mapdl/_mapdl_commands_parser.py
  src/ansys/materials/manager/parsers/mapdl/_mapdl_model_map.py
  src/ansys/materials/manager/parsers/mapdl/_mapdl_utils.py
  src/ansys/materials/manager/parsers/mapdl/mapdl_writer.py
  tests/data/mapdl_elasticity_anisotropic_constant.cdb
  tests/mapdl/test_coefficient_of_thermal_expansion_mapdl_write.py
  tests/mapdl/test_density_mapdl_write.py
  tests/mapdl/test_elasticity_mapdl_write.py
  tests/mapdl/test_hill_yield_mapdl_write.py
  tests/mapdl/test_isotropic_hardening_mapdl_write.py
  tests/mapdl/test_thermal_conductivity_mapdl_write.py
Labels: testing

fix
  src/ansys/materials/manager/parsers/mapdl/_mapdl_model_map.py
  src/ansys/materials/manager/parsers/mapdl/mapdl_writer.py
Labels: none

fix remaining tests
  src/ansys/materials/manager/parsers/lsdyna/_ls_dyna_model_map.py
  tests/fluent/test_density_fluent.py
  tests/fluent/test_molecular_weight_fluent.py
  tests/ls_dyna/test_elasticity_lsdyna_write.py
Labels: testing

change location of mapdl reader
  src/ansys/materials/manager/material_manager.py
  src/ansys/materials/manager/parsers/mapdl/mapdl_reader.py
  tests/mapdl/test_density_mapdl_read.py
  tests/mapdl/test_elasticity_mapdl_read.py
  tests/mapdl/test_hill_yield_mapdl_read.py
Labels: testing

fixes
  src/ansys/materials/manager/material_manager.py
  tests/material_manger/test_material_manager.py
Labels: testing

remove old examples
  examples/demo.py
  examples/manager_example.py
  examples/trial.py
  examples/trial_visitor.py
Labels: none

fixing lock
  poetry.lock
Labels: none
