Repository ansys/pymaterials-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Maintenance, Dependencies, CI/CD, Testing, Enhancement

fix
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

trial
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

remove legacy
  src/ansys/materials/manager/_models/_common/constant.py
  src/ansys/materials/manager/_models/_common/piecewise_linear.py
  src/ansys/materials/manager/_models/_common/polynomial.py
  src/ansys/materials/manager/_models/_fluent/__init__.py
  src/ansys/materials/manager/_models/_fluent/ideal_gas.py
  src/ansys/materials/manager/_models/_fluent/simple_properties.py
  src/ansys/materials/manager/_models/_mapdl/__init__.py
  src/ansys/materials/manager/_models/_mapdl/anisotropic_elasticity.py
  src/ansys/materials/manager/_models/_mapdl/simple_properties.py
  src/ansys/materials/manager/material.py
  src/ansys/materials/manager/serialize.py
  src/ansys/materials/manager/util/mapdl/tbdata_parser.py
  tests/material_models/test_anisotropic_elasticity.py
  tests/test_materials.py
Labels: Testing, Enhancement

fix init import
  src/ansys/materials/manager/_models/_material_models/__init__.py
Labels: Enhancement

remove more legacy
  src/ansys/materials/manager/_models/_common/_base.py
  src/ansys/materials/manager/_models/_material_models/__init__.py
Labels: Enhancement

remove more legacy
  src/ansys/materials/manager/_models/_common/__init__.py
Labels: Enhancement

fix core import
  examples/demo.py
  src/ansys/materials/manager/_models/_common/__init__.py
  src/ansys/materials/manager/_models/_material_models/density.py
  src/ansys/materials/manager/_models/_material_models/elasticity_anisotropic.py
  src/ansys/materials/manager/_models/_material_models/elasticity_isotropic.py
  src/ansys/materials/manager/_models/_material_models/elasticity_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/hill_yield_criterion.py
  src/ansys/materials/manager/_models/_material_models/isotropic_hardening.py
  src/ansys/materials/manager/_models/_material_models/molecular_weight.py
  src/ansys/materials/manager/material_manager.py
  src/ansys/materials/manager/util/mapdl/mapdl_reader.py
  tests/fluent/test_density_fluent.py
  tests/fluent/test_molecular_weight_fluent.py
  tests/mapdl/test_density_mapdl_write.py
  tests/mapdl/test_elasticity_mapdl_write.py
  tests/mapdl/test_hill_yield_mapdl_write.py
  tests/mapdl/test_isotropic_hardening_mapdl_write.py
Labels: Testing, Enhancement

fix manager
  examples/manager_example.py
  examples/trial.py
  src/ansys/materials/manager/_models/material.py
  src/ansys/materials/manager/material_manager.py
Labels: Enhancement

fixes
  src/ansys/materials/manager/_models/material.py
Labels: Enhancement

fixes
  src/ansys/materials/manager/_models/_material_models/elasticity_isotropic.py
  src/ansys/materials/manager/_models/_material_models/elasticity_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/hill_yield_criterion.py
  src/ansys/materials/manager/_models/material.py
  src/ansys/materials/manager/material_manager.py
Labels: Enhancement

test material manager
  src/ansys/materials/manager/__init__.py
  src/ansys/materials/manager/_models/__init__.py
  src/ansys/materials/manager/_models/_common/material_model.py
  src/ansys/materials/manager/material_manager.py
  src/ansys/materials/manager/util/mapdl/mapdl_reader.py
  tests/material_manger/test_material_manger.py
Labels: Testing, Enhancement

Pin actions versions, fix docs build action
  .github/workflows/ci_cd.yml
  .github/workflows/dependabot_approve.yml
  .github/workflows/label.yml
Labels: Maintenance, CI/CD

Add arg
  .github/workflows/label.yml
Labels: Maintenance, CI/CD

Prepare 0.3.1 release
  pyproject.toml
Labels: Maintenance, Dependencies

build: numpy deps (#380)
  poetry.lock
  pyproject.toml
Labels: Maintenance, Dependencies

add mapdl thermal conductivity write
  src/ansys/materials/manager/_models/_material_models/thermal_conductivity_isotropic.py
  src/ansys/materials/manager/_models/_material_models/thermal_conductivity_orthotropic.py
  tests/data/mapdl_thermal_conductivity_isotropic_constant.cdb
  tests/data/mapdl_thermal_conductivity_isotropic_constant_ref_temp.cdb
  tests/data/mapdl_thermal_conductivity_isotropic_variable_temp.cdb
  tests/data/mapdl_thermal_conductivity_orthotropic_constant.cdb
  tests/data/mapdl_thermal_conductivity_orthotropic_constant_ref_temp.cdb
  tests/data/mapdl_thermal_conductivity_orthotropic_variable_a11_a22.cdb
  tests/data/mapdl_thermal_conductivity_orthotropic_variable_temp.cdb
  tests/mapdl/test_elasticity_mapdl_write.py
  tests/mapdl/test_thermal_conductivity_mapdl_write.py
Labels: Testing, Enhancement

add coefficient of thermal expansion mapdl write
  src/ansys/materials/manager/_models/_common/common.py
  src/ansys/materials/manager/_models/_material_models/cofficient_of_thermal_expansion_isotropic.py
  src/ansys/materials/manager/_models/_material_models/cofficient_of_thermal_expansion_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/thermal_conductivity_isotropic.py
  tests/data/mapdl_coefficient_of_thermal_expansion_isotropic_secant_constant.cdb
  tests/data/mapdl_coefficient_of_thermal_expansion_isotropic_secant_constant_ref_temp.cdb
  tests/data/mapdl_coefficient_of_thermal_expansion_isotropic_secant_variable.cdb
  tests/data/mapdl_coefficient_of_thermal_expansion_isotropic_secant_variable_a11_a22.cdb
  tests/data/mapdl_coefficient_of_thermal_expansion_orthotropic_secant_constant.cdb
  tests/data/mapdl_coefficient_of_thermal_expansion_orthotropic_secant_constant_ref_temp.cdb
  tests/data/mapdl_coefficient_of_thermal_expansion_orthotropic_secant_variable.cdb
  tests/data/mapdl_coefficient_of_thermal_expansion_orthotropic_secant_variable_a11_a22.cdb
  tests/mapdl/test_coefficient_of_thermal_expansion_mapdl_write.py
Labels: Testing, Enhancement

fix
  src/ansys/materials/manager/_models/_material_models/elasticity_isotropic.py
Labels: Enhancement

trial
  src/ansys/materials/manager/util/mapdl/mapdl_snippets_strings.py
Labels: Enhancement

Pin actions versions (#395)
  .github/workflows/ci_cd.yml
  .github/workflows/dependabot_approve.yml
  .github/workflows/label.yml
Labels: Maintenance, CI/CD

Pin actions versions (#395)
  .github/workflows/ci_cd.yml
  .github/workflows/dependabot_approve.yml
  .github/workflows/label.yml
Labels: Maintenance, CI/CD

add none client
  src/ansys/materials/manager/material_manager.py
Labels: Enhancement

Write units to matml
  src/ansys/materials/manager/_models/_common/constant.py
  src/ansys/materials/manager/_models/_matml/property_info.py
  src/ansys/materials/manager/util/matml/matml_from_material.py
  src/ansys/materials/manager/util/matml/matml_parser.py
Labels: Enhancement

Update CONTRIBUTORS.md with the latest contributors
  CONTRIBUTORS.md
Labels: none

Update CONTRIBUTORS.md with the latest contributors (#400)
  CONTRIBUTORS.md
Labels: none

add reference temperature to write
  src/ansys/materials/manager/_models/_common/material_model.py
  src/ansys/materials/manager/_models/_material_models/cofficient_of_thermal_expansion_isotropic.py
  src/ansys/materials/manager/_models/_material_models/cofficient_of_thermal_expansion_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/density.py
  src/ansys/materials/manager/_models/_material_models/elasticity_anisotropic.py
  src/ansys/materials/manager/_models/_material_models/elasticity_isotropic.py
  src/ansys/materials/manager/_models/_material_models/elasticity_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/thermal_conductivity_isotropic.py
  src/ansys/materials/manager/_models/_material_models/thermal_conductivity_orthotropic.py
  src/ansys/materials/manager/_models/material.py
  tests/mapdl/test_coefficient_of_thermal_expansion_mapdl_write.py
  tests/mapdl/test_elasticity_mapdl_write.py
  tests/mapdl/test_thermal_conductivity_mapdl_write.py
Labels: Testing, Enhancement

add mpamod
  src/ansys/materials/manager/_models/_material_models/zero_thermal_strain_reference_temperature_isotropic.py
  src/ansys/materials/manager/_models/_material_models/zero_thermal_strain_reference_temperature_orthotropic.py
Labels: Enhancement

fix
  src/ansys/materials/manager/_models/material.py
Labels: Enhancement

add **kwargs
  src/ansys/materials/manager/_models/_material_models/color.py
  src/ansys/materials/manager/_models/_material_models/fabric_fiber_angle.py
  src/ansys/materials/manager/_models/_material_models/fiber_angle.py
  src/ansys/materials/manager/_models/_material_models/hill_yield_criterion.py
  src/ansys/materials/manager/_models/_material_models/isotropic_hardening.py
  src/ansys/materials/manager/_models/_material_models/isotropic_hardening_voce_law.py
  src/ansys/materials/manager/_models/_material_models/kinematic_hardening.py
  src/ansys/materials/manager/_models/_material_models/larc03_04_constants.py
  src/ansys/materials/manager/_models/_material_models/molecular_weight.py
  src/ansys/materials/manager/_models/_material_models/ply_type.py
  src/ansys/materials/manager/_models/_material_models/puck_constants.py
  src/ansys/materials/manager/_models/_material_models/puck_constants_additional.py
  src/ansys/materials/manager/_models/_material_models/specific_heat.py
  src/ansys/materials/manager/_models/_material_models/speed_of_sound.py
  src/ansys/materials/manager/_models/_material_models/strain_hardening.py
  src/ansys/materials/manager/_models/_material_models/strain_limits_isotropic.py
  src/ansys/materials/manager/_models/_material_models/strain_limits_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/stress_limits_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/tsai_wu_constants.py
  src/ansys/materials/manager/_models/_material_models/usermat.py
  src/ansys/materials/manager/_models/_material_models/viscosity.py
Labels: Enhancement

fix orthotropic order
  src/ansys/materials/manager/_models/_material_models/elasticity_orthotropic.py
  tests/data/mapdl_elasticity_orthotropic_constant.cdb
  tests/data/mapdl_elasticity_orthotropic_variable.cdb
Labels: Testing, Enhancement

fix poisson
  src/ansys/materials/manager/_models/_material_models/elasticity_orthotropic.py
  tests/data/mapdl_elasticity_orthotropic_constant.cdb
  tests/data/mapdl_elasticity_orthotropic_variable.cdb
Labels: Testing, Enhancement

fixes
  tests/mapdl/test_elasticity_mapdl_read.py
  tests/material_manger/test_material_manger.py
Labels: Testing

ci: only display logs on workflow
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

ci: only display logs on workflow (#405)
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

fixes
  tests/data/matml_unittest_instantaneous_thermal_coeffs.xml
  tests/mapdl/test_coefficient_of_thermal_expansion_mapdl_write.py
  tests/mapdl/test_density_mapdl_read.py
  tests/mapdl/test_density_mapdl_write.py
  tests/mapdl/test_elasticity_mapdl_read.py
  tests/mapdl/test_elasticity_mapdl_write.py
  tests/mapdl/test_hill_yield_mapdl_read.py
  tests/mapdl/test_hill_yield_mapdl_write.py
  tests/mapdl/test_isotropic_hardening_mapdl_write.py
  tests/mapdl/test_thermal_conductivity_mapdl_write.py
  tests/material_manger/test_material_manager.py
  tests/matml/test_density_matml.py
  tests/matml/test_elasticity_matml.py
  tests/matml/test_fabric_fiber_angle_matml.py
  tests/matml/test_hill_yield_matml.py
  tests/matml/test_isotropic_hardening_matml.py
  tests/matml/test_larc_matml.py
  tests/matml/test_matml_from_material_matml.py
  tests/matml/test_puck_and_additional_puck_matml.py
  tests/matml/test_specific_heat_matml.py
  tests/matml/test_speed_of_sound_matml.py
  tests/matml/test_strain_limits_matml.py
  tests/matml/test_thermal_conductivity_matml.py
  tests/matml/test_thermal_expansion_coefficients_matml.py
  tests/matml/test_tsai_wu_matml.py
  tests/matml/test_user_mat_matml.py
  tests/matml/test_viscosity_matml.py
Labels: Testing

make common
  tests/conftest.py
  tests/mapdl/test_density_mapdl_read.py
  tests/mapdl/test_elasticity_mapdl_read.py
  tests/mapdl/test_hill_yield_mapdl_read.py
  tests/material_manger/test_material_manager.py
Labels: Testing

rever back
  tests/conftest.py
  tests/mapdl/test_density_mapdl_read.py
  tests/mapdl/test_elasticity_mapdl_read.py
  tests/mapdl/test_hill_yield_mapdl_read.py
  tests/material_manger/test_material_manager.py
Labels: Testing

Only write transfer id if a guid is defined
  src/ansys/materials/manager/util/matml/matml_from_material.py
Labels: Enhancement

Update CONTRIBUTORS.md with the latest contributors
  CONTRIBUTORS.md
Labels: none

Update CONTRIBUTORS.md with the latest contributors (#412)
  CONTRIBUTORS.md
Labels: none

.github/labeler.yml:

Documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'README.rst']

Maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', 'pyproject.toml']

Dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*']

Testing:
- changed-files:
  - any-glob-to-any-file: ['tests/**/*']

Enhancement:
- changed-files:
  - any-glob-to-any-file: ['src/**/*']
