Repository ansys/pymaterials-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Maintenance, Dependencies, CI/CD, Testing, Enhancement

.github/labeler.yml:

Documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'README.rst']

Maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', 'pyproject.toml']

Dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*']

Testing:
- changed-files:
  - any-glob-to-any-file: ['tests/**/*']

Enhancement:
- changed-files:
  - any-glob-to-any-file: ['src/**/*']

comment out to be removed or reworked
  src/ansys/materials/manager/material.py
  src/ansys/materials/manager/material_manager.py
  src/ansys/materials/manager/serialize.py
Labels: Enhancement

fix material import
  src/ansys/materials/manager/util/matml/matml_from_material.py
Labels: Enhancement

add client
  tests/mapdl/test_elasticity_mapdl_read.py
Labels: Testing

fix last test
  tests/common/test_interpolation_options.py
Labels: Testing

fix tests
  tests/data/matml_user_mat.txt
  tests/data/matml_user_mat_variable.txt
  tests/material_models/test_elasticity_isotropic.py
Labels: Testing

fixes
  tests/matml/test_matml_reader_matml.py
  tests/matml/test_matml_to_material_matml.py
Labels: Testing

fixed
  src/ansys/materials/manager/material_manager.py
Labels: Enhancement

removing string conversion
  tests/matml/utilities.py
Labels: Testing

implement more tests on mapdl read
  tests/mapdl/test_density_mapdl_read.py
  tests/mapdl/test_mapdl_read.py
Labels: Testing

ad tb read
  src/ansys/materials/manager/util/mapdl/mapdl_reader.py
  tests/mapdl/test_hill_yield_mapdl_read.py
Labels: Testing, Enhancement

add tests
  src/ansys/materials/manager/util/mapdl/mapdl_reader.py
  tests/mapdl/test_elasticity_mapdl_read.py
Labels: Testing, Enhancement

fix: change the python version
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

fix: test with limited numpdoc
  doc/source/conf.py
Labels: Documentation

fix: test with limited numpdoc
  doc/source/conf.py
Labels: Documentation

fix model import
  poetry.lock
  pyproject.toml
Labels: Maintenance, Dependencies

fixtures
  .github/workflows/ci_cd.yml
  tests/mapdl/test_hill_yield_mapdl_read.py
Labels: Maintenance, CI/CD, Testing

scope fixture
  tests/mapdl/test_density_mapdl_read.py
  tests/mapdl/test_elasticity_mapdl_read.py
  tests/mapdl/test_hill_yield_mapdl_read.py
  tests/mapdl/test_mapdl_read.py
Labels: Testing

trial
  tests/mapdl/test_mapdl_read.py
Labels: Testing

trial
  tox.ini
Labels: none

trial
  examples/trial.py
Labels: none

remove file
  tests/data/MatML_unittest_density.xml
  tests/data/MatML_unittest_elasticity.xml
  tests/data/MatML_unittest_fabric_fiber_angle.xml
  tests/data/MatML_unittest_hill_yield.xml
  tests/data/MatML_unittest_hill_yield_creep.xml
  tests/data/MatML_unittest_instantaneous_thermal_coeffs.xml
  tests/data/MatML_unittest_larc.xml
  tests/data/MatML_unittest_multilinear_isotropic_hardening.xml
  tests/data/MatML_unittest_puck_for_woven.xml
  tests/data/MatML_unittest_specific_heat.xml
  tests/data/MatML_unittest_speed_of_sound.xml
  tests/data/MatML_unittest_strain_limit.xml
  tests/data/MatML_unittest_thermal_coeffs.xml
  tests/data/MatML_unittest_thermal_conductivity.xml
  tests/data/MatML_unittest_tsai_wu.xml
  tests/data/MatML_unittest_usermat.xml
  tests/data/MatML_unittest_viscosity.xml
  tests/data/MatML_unittest_voce_isotropic_hardening.xml
Labels: Testing

add file correct name
  tests/data/matml_unittest_density.xml
  tests/data/matml_unittest_elasticity.xml
  tests/data/matml_unittest_fabric_fiber_angle.xml
  tests/data/matml_unittest_hill_yield.xml
  tests/data/matml_unittest_hill_yield_creep.xml
  tests/data/matml_unittest_instantaneous_thermal_coeffs.xml
  tests/data/matml_unittest_larc.xml
  tests/data/matml_unittest_multilinear_isotropic_hardening.xml
  tests/data/matml_unittest_puck_for_woven.xml
  tests/data/matml_unittest_specific_heat.xml
  tests/data/matml_unittest_speed_of_sound.xml
  tests/data/matml_unittest_strain_limit.xml
  tests/data/matml_unittest_thermal_coeffs.xml
  tests/data/matml_unittest_thermal_conductivity.xml
  tests/data/matml_unittest_tsai_wu.xml
  tests/data/matml_unittest_usermat.xml
  tests/data/matml_unittest_viscosity.xml
  tests/data/matml_unittest_voce_isotropic_hardening.xml
Labels: Testing

provisionally remove
  tests/mapdl/test_mapdl_read.py
Labels: Testing

set code coverage back to 80
  codecov.yml
Labels: Maintenance

trial
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

trial
  tox.ini
Labels: none

trial
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

debug info
  .github/workflows/ci_cd.yml
  poetry.lock
Labels: Maintenance, CI/CD

fix back
  .github/workflows/ci_cd.yml
  tox.ini
Labels: Maintenance, CI/CD

trial
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

all extras
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

revert
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

trial
  tox.ini
Labels: none

trial
  tox.ini
Labels: none

fix lock
  poetry.lock
Labels: none

rever tox
  tox.ini
Labels: none

trial
  tox.ini
Labels: none

trial
  tox.ini
Labels: none

trial
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

trial fix
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD
