Repository ansys/pymaterials-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, enhancement, testing

refactor: standardize public exports and import boundaries
  src/ansys/materials/manager/__init__.py
  src/ansys/materials/manager/integrations/__init__.py
  src/ansys/materials/manager/integrations/mapdl/mapdl_reader.py
  src/ansys/materials/manager/integrations/mapdl/mapdl_writer.py
  src/ansys/materials/manager/models/__init__.py
  src/ansys/materials/manager/models/_material_models/__init__.py
Labels: none

refactor: lazy-import LS-DYNA dependencies
  .github/workflows/ci_cd.yml
  src/ansys/materials/manager/integrations/lsdyna/lsdyna_writer.py
  src/ansys/materials/manager/material_manager.py
  src/ansys/materials/manager/models/_common/__init__.py
Labels: maintenance

Migrate format writers to accept()-based double dispatch.
  src/ansys/materials/manager/integrations/__init__.py
  src/ansys/materials/manager/integrations/base_visitor.py
  src/ansys/materials/manager/integrations/fluent/fluent_writer.py
  src/ansys/materials/manager/integrations/lsdyna/lsdyna_writer.py
  src/ansys/materials/manager/integrations/mapdl/mapdl_writer.py
  src/ansys/materials/manager/integrations/matml/matml_writer.py
Labels: none

Address PR review feedback on visitor support checks and tests.
  src/ansys/materials/manager/integrations/base_visitor.py
  tests/integrations/conftest.py
  tests/integrations/test_visitor_dispatch.py
  tests/integrations/test_writer_map_coverage.py
Labels: testing

Restore Sphinx links and suppress Vale spacing false positives.
  doc/.vale.ini
  doc/source/developer_guide.rst
Labels: documentation

Fix Vale documentation style findings in developer guide.
  doc/source/developer_guide.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: documentation

Add writer visitor protocol and accept() on material models.
  src/ansys/materials/manager/integrations/material_model_writer_visitor.py
  src/ansys/materials/manager/models/_common/material_model.py
  src/ansys/materials/manager/models/_common/visitor_protocol.py
  src/ansys/materials/manager/models/material.py
Labels: none

Document visitor pattern and contributor extension workflow.
  CONTRIBUTING.md
  doc/source/contributing.rst
  doc/source/developer_guide.rst
  doc/source/index.rst
Labels: documentation

Fix visitor protocol naming, is_supported checks, and skip warnings.
  doc/source/developer_guide.rst
  src/ansys/materials/manager/integrations/base_visitor.py
  src/ansys/materials/manager/integrations/material_model_writer_visitor.py
  src/ansys/materials/manager/models/_common/material_model.py
  src/ansys/materials/manager/models/_common/visitor_protocol.py
  src/ansys/materials/manager/models/material.py
  tests/integrations/test_visitor_dispatch.py
Labels: documentation, testing

Fix isort import order and add missing test package license header.
  src/ansys/materials/manager/integrations/__init__.py
  src/ansys/materials/manager/integrations/lsdyna/lsdyna_writer.py
  src/ansys/materials/manager/integrations/mapdl/mapdl_writer.py
  src/ansys/materials/manager/integrations/matml/matml_writer.py
  tests/integrations/__init__.py
  tests/integrations/conftest.py
Labels: testing

Add visitor dispatch and writer map coverage tests.
  tests/integrations/__init__.py
  tests/integrations/conftest.py
  tests/integrations/test_visitor_dispatch.py
  tests/integrations/test_writer_map_coverage.py
Labels: testing

Implement writer visitor pattern for model serialization (#575)
  CONTRIBUTING.md
  doc/.vale.ini
  doc/source/contributing.rst
  doc/source/developer_guide.rst
  doc/source/index.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  src/ansys/materials/manager/integrations/__init__.py
  src/ansys/materials/manager/integrations/base_visitor.py
  src/ansys/materials/manager/integrations/fluent/fluent_writer.py
  src/ansys/materials/manager/integrations/lsdyna/lsdyna_writer.py
  src/ansys/materials/manager/integrations/mapdl/mapdl_writer.py
  src/ansys/materials/manager/integrations/material_model_writer_visitor.py
  src/ansys/materials/manager/integrations/matml/matml_writer.py
  src/ansys/materials/manager/models/_common/material_model.py
  src/ansys/materials/manager/models/_common/visitor_protocol.py
  src/ansys/materials/manager/models/material.py
  tests/integrations/__init__.py
  tests/integrations/conftest.py
  tests/integrations/test_visitor_dispatch.py
  tests/integrations/test_writer_map_coverage.py
Labels: documentation, testing

Add vulnerability and actions security checks to CI/CD
  .github/workflows/ci_cd.yml
Labels: maintenance

Add Bandit configuration to pyproject.toml
  pyproject.toml
Labels: maintenance

Fix zizmor security findings in GitHub Actions workflows
  .github/workflows/ci_cd.yml
  .github/workflows/dependabot_approve.yml
  .github/workflows/label.yml
Labels: maintenance

Use defusedxml for MatML parsing to resolve Bandit B314 advisory
  pyproject.toml
  src/ansys/materials/manager/integrations/matml/_matml_parser.py
  src/ansys/materials/manager/integrations/matml/matml_reader.py
  src/ansys/materials/manager/integrations/matml/matml_writer.py
  uv.lock
Labels: maintenance

Add required actions and configuration (#578)
  .github/workflows/ci_cd.yml
  .github/workflows/dependabot_approve.yml
  .github/workflows/label.yml
  pyproject.toml
  src/ansys/materials/manager/integrations/matml/_matml_parser.py
  src/ansys/materials/manager/integrations/matml/matml_reader.py
  src/ansys/materials/manager/integrations/matml/matml_writer.py
  uv.lock
Labels: maintenance

chore: update SECURITY.md file
  SECURITY.md
Labels: none

chore: update SECURITY.md file (#611)
  SECURITY.md
Labels: none

Update ansys action SHA
  .github/workflows/ci_cd.yml
Labels: maintenance

Update ansys action SHA (#612)
  .github/workflows/ci_cd.yml
Labels: maintenance

defaults
  src/ansys/materials/manager/_models/_common/material_model.py
Labels: none

remove test
  tests/dpf_gil/test_query_material.py
Labels: testing

remove leftovers
  src/ansys/materials/manager/models/_common/material_model.py
Labels: none

add back test to verify interpolation is computed
  tests/dpf_gil/test_query_material.py
Labels: testing

pretty
  tests/dpf_gil/test_query_material.py
Labels: testing

feat add gil interpolator defaults (#626)
  src/ansys/materials/manager/models/_common/material_model.py
  tests/dpf_gil/test_query_material.py
Labels: testing

Try with new token
  .github/workflows/ci_cd.yml
Labels: maintenance

Try with new token (#627)
  .github/workflows/ci_cd.yml
Labels: maintenance

add implementation
  examples/data/material_isotropic.xml
  pyproject.toml
  src/ansys/materials/manager/integrations/matml/_matml_parser.py
  src/ansys/materials/manager/integrations/matml/matml_reader.py
  src/ansys/materials/manager/integrations/matml/matml_writer.py
  src/ansys/materials/manager/material_manager.py
  src/ansys/materials/manager/models/_common/material_model.py
  src/ansys/materials/manager/models/material.py
  tests/common/test_material.py
  tests/common/test_material_model.py
  tests/material_manger/test_material_manager_unit_system.py
  uv.lock
Labels: maintenance, testing

load gil back
  src/ansys/materials/manager/models/_common/material_model.py
Labels: none

fix ansys units
  pyproject.toml
Labels: maintenance

chore: add dependabot doc-deps, dev-deps and github-actions groups
  .github/dependabot.yml
Labels: maintenance

chore: add dependabot doc-deps, dev-deps and github-actions groups (#660)
  .github/dependabot.yml
Labels: maintenance

small fix
  src/ansys/materials/manager/material_manager.py
Labels: none

feat implement unit system conversion (#655)
  examples/data/material_isotropic.xml
  pyproject.toml
  src/ansys/materials/manager/integrations/matml/_matml_parser.py
  src/ansys/materials/manager/integrations/matml/matml_reader.py
  src/ansys/materials/manager/integrations/matml/matml_writer.py
  src/ansys/materials/manager/material_manager.py
  src/ansys/materials/manager/models/_common/material_model.py
  src/ansys/materials/manager/models/material.py
  tests/common/test_material.py
  tests/common/test_material_model.py
  tests/material_manger/test_material_manager_unit_system.py
  uv.lock
Labels: maintenance, testing

Modify Bandit skips to exclude directories
  pyproject.toml
Labels: maintenance

Modify Bandit skips to exclude directories (#664)
  pyproject.toml
Labels: maintenance

.github/labeler.yml:

documentation:
- doc/source/**/*
- README.rst
maintenance:
- .github/**/*
- .flake8
- pyproject.toml
dependencies:
- requirements/*
enhancement:
- ansys/**
testing:
- tests/**
