Repository ansys/pymaterials-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Maintenance, Dependencies, CI/CD, Testing, Enhancement

.github/labeler.yml:

Documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'README.rst']

Maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', 'pyproject.toml']

Dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*']

Testing:
- changed-files:
  - any-glob-to-any-file: ['tests/**/*']

Enhancement:
- changed-files:
  - any-glob-to-any-file: ['src/**/*']

Prepare 0.4.0 release
  pyproject.toml
Labels: Maintenance, Dependencies

Prepare 0.4.0 release (#525)
  pyproject.toml
Labels: Maintenance, Dependencies

fixes
  examples/trial_gil.py
  poetry.lock
  pyproject.toml
  src/ansys/materials/manager/_models/_common/common.py
Labels: Maintenance, Dependencies, Enhancement

fixes
  poetry.lock
  pyproject.toml
  src/ansys/materials/manager/_models/_common/material_model.py
Labels: Maintenance, Dependencies, Enhancement

fixes
  poetry.lock
  pyproject.toml
Labels: Maintenance, Dependencies

add remove material model
  src/ansys/materials/manager/_models/material.py
Labels: Enhancement

Initial Granta MI integration
  poetry.lock
  pyproject.toml
  src/ansys/materials/manager/_models/_common/material_model.py
  src/ansys/materials/manager/material_manager.py
  src/ansys/materials/manager/parsers/_common.py
  src/ansys/materials/manager/parsers/base_visitor.py
  src/ansys/materials/manager/parsers/matml/_matml_parser.py
  src/ansys/materials/manager/parsers/rest/__init__.py
  src/ansys/materials/manager/parsers/rest/_exceptions.py
  src/ansys/materials/manager/parsers/rest/_grantami_auth.py
  src/ansys/materials/manager/parsers/rest/_rest_model_map.py
  src/ansys/materials/manager/parsers/rest/_rest_reader.py
  src/ansys/materials/manager/parsers/rest/rest_material_reader.py
  src/ansys/materials/manager/parsers/rest/rest_session_client.py
  tests/mapdl/test_elasticity_mapdl_write.py
  tests/matml/test_elasticity_matml_write.py
  tests/rest/conftest.py
  tests/rest/test_default_model_mappings.py
  tests/rest/test_grantami_auth.py
  tests/rest/test_material_manager_grantami.py
  tests/rest/test_rest_material_reader.py
  tests/rest/test_rest_session_client.py
Labels: Maintenance, Dependencies, Testing, Enhancement

Extract message into constant
  src/ansys/materials/manager/parsers/rest/rest_session_client.py
Labels: Enhancement

Make packageName configurable
  src/ansys/materials/manager/material_manager.py
  src/ansys/materials/manager/parsers/rest/rest_session_client.py
  tests/rest/test_rest_session_client.py
Labels: Testing, Enhancement

address comments
  src/ansys/materials/manager/_models/_common/material_model.py
Labels: Enhancement

add bilinear hardening
  src/ansys/materials/manager/_models/_material_models/isotropic_hardening.py
Labels: Enhancement

fix name
  src/ansys/materials/manager/_models/_material_models/isotropic_hardening.py
Labels: Enhancement

Add export from Granta MI (#527)
  poetry.lock
  pyproject.toml
  src/ansys/materials/manager/_models/_common/material_model.py
  src/ansys/materials/manager/material_manager.py
  src/ansys/materials/manager/parsers/_common.py
  src/ansys/materials/manager/parsers/base_visitor.py
  src/ansys/materials/manager/parsers/matml/_matml_parser.py
  src/ansys/materials/manager/parsers/rest/__init__.py
  src/ansys/materials/manager/parsers/rest/_exceptions.py
  src/ansys/materials/manager/parsers/rest/_grantami_auth.py
  src/ansys/materials/manager/parsers/rest/_rest_model_map.py
  src/ansys/materials/manager/parsers/rest/_rest_reader.py
  src/ansys/materials/manager/parsers/rest/rest_material_reader.py
  src/ansys/materials/manager/parsers/rest/rest_session_client.py
  tests/mapdl/test_elasticity_mapdl_write.py
  tests/matml/test_elasticity_matml_write.py
  tests/rest/conftest.py
  tests/rest/test_default_model_mappings.py
  tests/rest/test_grantami_auth.py
  tests/rest/test_material_manager_grantami.py
  tests/rest/test_rest_material_reader.py
  tests/rest/test_rest_session_client.py
Labels: Maintenance, Dependencies, Testing, Enhancement

Drop support for python 3.10
  .github/workflows/ci_cd.yml
  poetry.lock
  pyproject.toml
  tox.ini
Labels: Maintenance, Dependencies, CI/CD

Drop support for python 3.10 (#547)
  .github/workflows/ci_cd.yml
  poetry.lock
  pyproject.toml
  tox.ini
Labels: Maintenance, Dependencies, CI/CD

Migrate from Poetry to uv
  poetry.lock
  pyproject.toml
  uv.lock
Labels: Maintenance, Dependencies

Remove tox in favour of uv and pytest
  .gitignore
  tox.ini
Labels: none

Update developer docs for uv workflow
  README.rst
  doc/source/contributing.rst
Labels: Documentation

Update CI to use uv and pytest directly
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Add runtime dependencies required by the package.
  pyproject.toml
  src/ansys/materials/manager/_models/_material_models/elasticity_isotropic.py
  src/ansys/materials/manager/_models/_material_models/zero_thermal_strain_reference_temperature_orthotropic.py
  src/ansys/materials/manager/parsers/_common.py
  uv.lock
Labels: Maintenance, Dependencies, Enhancement

Fix MAPDL coverage upload and Vale spelling for uv.
  .github/workflows/ci_cd.yml
  README.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: Documentation, Maintenance, CI/CD

Configure Dependabot for uv with a 7-day cooldown.
  .github/dependabot.yml
Labels: Maintenance, CI/CD

Migrate from Poetry to uv (#549)
  .github/dependabot.yml
  .github/workflows/ci_cd.yml
  .gitignore
  README.rst
  doc/source/contributing.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  poetry.lock
  pyproject.toml
  src/ansys/materials/manager/_models/_material_models/elasticity_isotropic.py
  src/ansys/materials/manager/_models/_material_models/zero_thermal_strain_reference_temperature_orthotropic.py
  src/ansys/materials/manager/parsers/_common.py
  tox.ini
  uv.lock
Labels: Documentation, Maintenance, Dependencies, CI/CD, Enhancement

Add tabular quantity support to material models
  src/ansys/materials/manager/_models/_common/__init__.py
  src/ansys/materials/manager/_models/_common/material_model.py
  src/ansys/materials/manager/_models/_common/tabular_quantity.py
  src/ansys/materials/manager/_models/_material_models/cofficient_of_thermal_expansion_isotropic.py
  src/ansys/materials/manager/_models/_material_models/density.py
  src/ansys/materials/manager/_models/_material_models/elasticity_isotropic.py
  src/ansys/materials/manager/_models/_material_models/specific_heat.py
  src/ansys/materials/manager/_models/_material_models/thermal_conductivity_isotropic.py
  tests/common/test_material_model.py
  tests/material_models/test_material_model_flatten_parameter_grids.py
Labels: Testing, Enhancement

Add Granta MI REST parsing for tabular models
  src/ansys/materials/manager/_models/_material_models/__init__.py
  src/ansys/materials/manager/_models/_material_models/compressive_strength.py
  src/ansys/materials/manager/_models/_material_models/electrical_resistivity_isotropic.py
  src/ansys/materials/manager/_models/_material_models/tensile_elongation.py
  src/ansys/materials/manager/_models/_material_models/tensile_strength.py
  src/ansys/materials/manager/parsers/rest/_rest_model_map.py
  src/ansys/materials/manager/parsers/rest/_rest_reader.py
  src/ansys/materials/manager/parsers/rest/rest_material_reader.py
  tests/rest/__init__.py
  tests/rest/common.py
  tests/rest/conftest.py
  tests/rest/test_default_model_mappings.py
  tests/rest/test_rest_material_reader.py
  tests/rest/test_rest_reader.py
  tests/rest/test_rest_tabular.py
Labels: Testing, Enhancement

Add MAPDL and MATML export for tabular models
  src/ansys/materials/manager/parsers/base_visitor.py
  src/ansys/materials/manager/parsers/mapdl/mapdl_writer.py
  src/ansys/materials/manager/parsers/matml/matml_writer.py
  tests/mapdl/test_elasticity_mapdl_write.py
  tests/rest/test_rest_integration.py
Labels: Testing, Enhancement

Use modern dict type hints in tabular material models.
  src/ansys/materials/manager/_models/_material_models/cofficient_of_thermal_expansion_isotropic.py
  src/ansys/materials/manager/_models/_material_models/elasticity_isotropic.py
  src/ansys/materials/manager/_models/_material_models/specific_heat.py
  src/ansys/materials/manager/_models/_material_models/thermal_conductivity_isotropic.py
Labels: Enhancement

Extract REST integration test payloads into static_test_data module.
  tests/rest/common.py
  tests/rest/static_test_data.py
  tests/rest/test_rest_integration.py
  tests/rest/test_rest_reader.py
  tests/rest/test_rest_tabular.py
Labels: Testing

Rename some static data items to distinguish object types
  tests/rest/static_test_data.py
  tests/rest/test_rest_reader.py
  tests/rest/test_rest_tabular.py
Labels: Testing

Add temperature-dependent support (#528)
  src/ansys/materials/manager/_models/_common/__init__.py
  src/ansys/materials/manager/_models/_common/material_model.py
  src/ansys/materials/manager/_models/_common/tabular_quantity.py
  src/ansys/materials/manager/_models/_material_models/__init__.py
  src/ansys/materials/manager/_models/_material_models/cofficient_of_thermal_expansion_isotropic.py
  src/ansys/materials/manager/_models/_material_models/compressive_strength.py
  src/ansys/materials/manager/_models/_material_models/density.py
  src/ansys/materials/manager/_models/_material_models/elasticity_isotropic.py
  src/ansys/materials/manager/_models/_material_models/electrical_resistivity_isotropic.py
  src/ansys/materials/manager/_models/_material_models/tensile_elongation.py
  src/ansys/materials/manager/_models/_material_models/tensile_strength.py
  src/ansys/materials/manager/_models/_material_models/thermal_conductivity_isotropic.py
  src/ansys/materials/manager/parsers/base_visitor.py
  src/ansys/materials/manager/parsers/mapdl/mapdl_writer.py
  src/ansys/materials/manager/parsers/matml/matml_writer.py
  src/ansys/materials/manager/parsers/rest/_rest_model_map.py
  src/ansys/materials/manager/parsers/rest/_rest_reader.py
  src/ansys/materials/manager/parsers/rest/rest_material_reader.py
  tests/common/test_material_model.py
  tests/mapdl/test_elasticity_mapdl_write.py
  tests/material_models/test_material_model_flatten_parameter_grids.py
  tests/rest/__init__.py
  tests/rest/common.py
  tests/rest/conftest.py
  tests/rest/static_test_data.py
  tests/rest/test_default_model_mappings.py
  tests/rest/test_rest_integration.py
  tests/rest/test_rest_material_reader.py
  tests/rest/test_rest_reader.py
  tests/rest/test_rest_tabular.py
Labels: Testing, Enhancement

Fix type hint error in isotropic hardening model.
  src/ansys/materials/manager/_models/_material_models/isotropic_hardening.py
Labels: Enhancement

Add isotropic hardening support for Granta MI REST import.
  src/ansys/materials/manager/parsers/rest/_rest_model_map.py
  tests/rest/common.py
  tests/rest/static_test_data.py
  tests/rest/test_rest_tabular.py
Labels: Testing, Enhancement

Rename parameter
  src/ansys/materials/manager/parsers/rest/_rest_model_map.py
Labels: Enhancement

Finish rename
  src/ansys/materials/manager/parsers/rest/_rest_model_map.py
  tests/rest/test_rest_tabular.py
Labels: Testing, Enhancement

Add isotropic hardening support (#532)
  src/ansys/materials/manager/_models/_material_models/isotropic_hardening.py
  src/ansys/materials/manager/parsers/rest/_rest_model_map.py
  tests/rest/common.py
  tests/rest/static_test_data.py
  tests/rest/test_rest_tabular.py
Labels: Testing, Enhancement

trial dpf server pull
  .github/workflows/ci_cd.yml
  pyproject.toml
  tests/dpf_gil/test_query_material.py
Labels: Maintenance, Dependencies, CI/CD, Testing

fixes
  .github/workflows/ci_cd.yml
  tests/dpf_gil/test_query_material.py
Labels: Maintenance, CI/CD, Testing

fixes
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

fix port mapdl
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

fix run
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD
