Repository ansys/pymaterials-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Maintenance, Dependencies, CI/CD, Testing, Enhancement

remuve grpc
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

fix insecure connection
  .github/workflows/ci_cd.yml
  tests/dpf_gil/test_query_material.py
Labels: Maintenance, CI/CD, Testing

precommit
  tests/dpf_gil/test_query_material.py
Labels: Testing

change port ver
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

check servers
  tests/dpf_gil/test_query_material.py
Labels: Testing

protocol
  tests/dpf_gil/test_query_material.py
Labels: Testing

fix poisson ratio
  tests/dpf_gil/test_query_material.py
Labels: Testing

avail service
  tests/dpf_gil/test_query_material.py
Labels: Testing

fake awp root
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

fake awp root
  .github/workflows/ci_cd.yml
  src/ansys/materials/manager/_models/_common/material_model.py
  tests/dpf_gil/test_query_material.py
Labels: Maintenance, CI/CD, Testing, Enhancement

trial
  .github/workflows/ci_cd.yml
  src/ansys/materials/manager/_models/_common/material_model.py
Labels: Maintenance, CI/CD, Enhancement

trial
  tests/dpf_gil/test_query_material.py
Labels: Testing

trial
  src/ansys/materials/manager/_models/_common/material_model.py
Labels: Enhancement

trial
  src/ansys/materials/manager/_models/_common/material_model.py
Labels: Enhancement

trial
  src/ansys/materials/manager/_models/_common/material_model.py
  tests/dpf_gil/test_query_material.py
Labels: Testing, Enhancement

final fixes
  .github/workflows/ci_cd.yml
  src/ansys/materials/manager/_models/_common/material_model.py
Labels: Maintenance, CI/CD, Enhancement

implement old md test
  src/ansys/materials/manager/_models/_common/material_model.py
  tests/dpf_gil/test_query_material.py
Labels: Testing, Enhancement

remove examples
  examples/data/material_isotropic_GIL.xml
  examples/trial_gil.py
Labels: none

fix naming
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

fix naming
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

fix naming
  tests/dpf_gil/test_query_material.py
Labels: Testing

fix naming
  tests/dpf_gil/test_query_material.py
Labels: Testing

add server
  tests/dpf_gil/test_query_material.py
Labels: Testing

fix values
  tests/dpf_gil/test_query_material.py
Labels: Testing

fix values
  tests/dpf_gil/test_query_material.py
Labels: Testing

more tests
  src/ansys/materials/manager/_models/_common/material_model.py
  tests/dpf_gil/test_query_material.py
Labels: Testing, Enhancement

more tests
  src/ansys/materials/manager/_models/_common/material_model.py
  src/ansys/materials/manager/_models/material.py
  tests/common/test_material_model.py
Labels: Testing, Enhancement

more tests
  tests/dpf_gil/test_query_material.py
Labels: Testing

more tests
  tests/dpf_gil/test_query_material.py
Labels: Testing

reformatting
  tests/dpf_gil/test_query_material.py
Labels: Testing

fix
  src/ansys/materials/manager/_models/_common/material_model.py
  tests/dpf_gil/test_query_material.py
Labels: Testing, Enhancement

address comments
  .github/workflows/ci_cd.yml
  src/ansys/materials/manager/_models/_common/material_model.py
  tests/dpf_gil/test_query_material.py
Labels: Maintenance, CI/CD, Testing, Enhancement

fix dpf option
  pyproject.toml
Labels: Maintenance, Dependencies

fix mypy
  src/ansys/materials/manager/_models/_common/material_model.py
Labels: Enhancement

feat implement gil query at material model level (#529)
  .github/workflows/ci_cd.yml
  pyproject.toml
  src/ansys/materials/manager/_models/_common/common.py
  src/ansys/materials/manager/_models/_common/material_model.py
  src/ansys/materials/manager/_models/material.py
  src/ansys/materials/manager/parsers/matml/matml_reader.py
  tests/common/test_material_model.py
  tests/dpf_gil/test_query_material.py
Labels: Maintenance, Dependencies, CI/CD, Testing, Enhancement

chore: update LICENSE file
  LICENSE
Labels: none

chore: update AUTHORS file
  AUTHORS
Labels: none

Add Synopsys variations to accept.txt
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: none

chore: Update missing or outdated files (#555)
  AUTHORS
  LICENSE
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: none

ci: install integrations extra for wheelhouse smoke tests
  .github/workflows/ci_cd.yml
  pyproject.toml
  uv.lock
Labels: Maintenance, Dependencies, CI/CD

.github/labeler.yml:

Documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'README.rst']

Maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', 'pyproject.toml']

Dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*']

Testing:
- changed-files:
  - any-glob-to-any-file: ['tests/**/*']

Enhancement:
- changed-files:
  - any-glob-to-any-file: ['src/**/*']
