Repository ansys/pymaterials-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, enhancement, testing

comment out to be removed or reworked
  src/ansys/materials/manager/material.py
  src/ansys/materials/manager/material_manager.py
  src/ansys/materials/manager/serialize.py
Labels: enhancement

fix material import
  src/ansys/materials/manager/util/matml/matml_from_material.py
Labels: enhancement

add client
  tests/mapdl/test_elasticity_mapdl_read.py
Labels: testing

fix last test
  tests/common/test_interpolation_options.py
Labels: testing

fix tests
  tests/data/matml_user_mat.txt
  tests/data/matml_user_mat_variable.txt
  tests/material_models/test_elasticity_isotropic.py
Labels: testing

fixes
  tests/matml/test_matml_reader_matml.py
  tests/matml/test_matml_to_material_matml.py
Labels: testing

fixed
  src/ansys/materials/manager/material_manager.py
Labels: enhancement

removing string conversion
  tests/matml/utilities.py
Labels: testing

implement more tests on mapdl read
  tests/mapdl/test_density_mapdl_read.py
  tests/mapdl/test_mapdl_read.py
Labels: testing

ad tb read
  src/ansys/materials/manager/util/mapdl/mapdl_reader.py
  tests/mapdl/test_hill_yield_mapdl_read.py
Labels: enhancement, testing

add tests
  src/ansys/materials/manager/util/mapdl/mapdl_reader.py
  tests/mapdl/test_elasticity_mapdl_read.py
Labels: enhancement, testing

fix: change the python version
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: test with limited numpdoc
  doc/source/conf.py
Labels: documentation

fix: test with limited numpdoc
  doc/source/conf.py
Labels: documentation

fix model import
  poetry.lock
  pyproject.toml
Labels: maintenance

fixtures
  .github/workflows/ci_cd.yml
  tests/mapdl/test_hill_yield_mapdl_read.py
Labels: maintenance, testing

scope fixture
  tests/mapdl/test_density_mapdl_read.py
  tests/mapdl/test_elasticity_mapdl_read.py
  tests/mapdl/test_hill_yield_mapdl_read.py
  tests/mapdl/test_mapdl_read.py
Labels: testing

trial
  tests/mapdl/test_mapdl_read.py
Labels: testing

trial
  tox.ini
Labels: none

trial
  examples/trial.py
Labels: none

remove file
  tests/data/MatML_unittest_density.xml
  tests/data/MatML_unittest_elasticity.xml
  tests/data/MatML_unittest_fabric_fiber_angle.xml
  tests/data/MatML_unittest_hill_yield.xml
  tests/data/MatML_unittest_hill_yield_creep.xml
  tests/data/MatML_unittest_instantaneous_thermal_coeffs.xml
  tests/data/MatML_unittest_larc.xml
  tests/data/MatML_unittest_multilinear_isotropic_hardening.xml
  tests/data/MatML_unittest_puck_for_woven.xml
  tests/data/MatML_unittest_specific_heat.xml
  tests/data/MatML_unittest_speed_of_sound.xml
  tests/data/MatML_unittest_strain_limit.xml
  tests/data/MatML_unittest_thermal_coeffs.xml
  tests/data/MatML_unittest_thermal_conductivity.xml
  tests/data/MatML_unittest_tsai_wu.xml
  tests/data/MatML_unittest_usermat.xml
  tests/data/MatML_unittest_viscosity.xml
  tests/data/MatML_unittest_voce_isotropic_hardening.xml
Labels: testing

add file correct name
  tests/data/matml_unittest_density.xml
  tests/data/matml_unittest_elasticity.xml
  tests/data/matml_unittest_fabric_fiber_angle.xml
  tests/data/matml_unittest_hill_yield.xml
  tests/data/matml_unittest_hill_yield_creep.xml
  tests/data/matml_unittest_instantaneous_thermal_coeffs.xml
  tests/data/matml_unittest_larc.xml
  tests/data/matml_unittest_multilinear_isotropic_hardening.xml
  tests/data/matml_unittest_puck_for_woven.xml
  tests/data/matml_unittest_specific_heat.xml
  tests/data/matml_unittest_speed_of_sound.xml
  tests/data/matml_unittest_strain_limit.xml
  tests/data/matml_unittest_thermal_coeffs.xml
  tests/data/matml_unittest_thermal_conductivity.xml
  tests/data/matml_unittest_tsai_wu.xml
  tests/data/matml_unittest_usermat.xml
  tests/data/matml_unittest_viscosity.xml
  tests/data/matml_unittest_voce_isotropic_hardening.xml
Labels: testing

provisionally remove
  tests/mapdl/test_mapdl_read.py
Labels: testing

set code coverage back to 80
  codecov.yml
Labels: none

trial
  .github/workflows/ci_cd.yml
Labels: maintenance

trial
  tox.ini
Labels: none

trial
  .github/workflows/ci_cd.yml
Labels: maintenance

debug info
  .github/workflows/ci_cd.yml
  poetry.lock
Labels: maintenance

fix back
  .github/workflows/ci_cd.yml
  tox.ini
Labels: maintenance

trial
  .github/workflows/ci_cd.yml
Labels: maintenance

all extras
  .github/workflows/ci_cd.yml
Labels: maintenance

revert
  .github/workflows/ci_cd.yml
Labels: maintenance

trial
  tox.ini
Labels: none

trial
  tox.ini
Labels: none

fix lock
  poetry.lock
Labels: none

rever tox
  tox.ini
Labels: none

trial
  tox.ini
Labels: none

trial
  tox.ini
Labels: none

trial
  .github/workflows/ci_cd.yml
Labels: maintenance

trial fix
  .github/workflows/ci_cd.yml
Labels: maintenance

.github/labeler.yml:

documentation:
- doc/source/**/*
- README.rst
maintenance:
- .github/**/*
- .flake8
- pyproject.toml
dependencies:
- requirements/*
enhancement:
- src/**
testing:
- tests/**
