Repository ansys/pymaterials-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Maintenance, Dependencies, CI/CD, Testing, Enhancement

.github/labeler.yml:

Documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'README.rst']

Maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', 'pyproject.toml']

Dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*']

Testing:
- changed-files:
  - any-glob-to-any-file: ['tests/**/*']

Enhancement:
- changed-files:
  - any-glob-to-any-file: ['src/**/*']

trial
  src/ansys/materials/manager/_models/_common/material_model.py
  src/ansys/materials/manager/_models/_common/model_qualifier.py
  src/ansys/materials/manager/_models/_material_models/elasticity_isotropic.py
  src/ansys/materials/manager/_models/_material_models/elasticity_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/isotropic_hardening.py
  src/ansys/materials/manager/util/matml/matml_from_material.py
  src/ansys/materials/manager/util/matml/matml_to_material.py
Labels: Enhancement

fix
  src/ansys/materials/manager/util/matml/matml_to_material.py
Labels: Enhancement

fixes
  examples/data/MatML_unittest_voce_isotropic_hardening.xml
  src/ansys/materials/manager/_models/__init__.py
  src/ansys/materials/manager/_models/_common/dependent_parameter.py
  src/ansys/materials/manager/_models/_common/model_qualifier.py
  src/ansys/materials/manager/_models/_material_models/elasticity_isotropic.py
  src/ansys/materials/manager/_models/_material_models/elasticity_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/hill_yield_criterion.py
  src/ansys/materials/manager/_models/_material_models/isotropic_hardening_voce_law.py
  src/ansys/materials/manager/util/matml/matml_from_material.py
  src/ansys/materials/manager/util/matml/matml_to_material.py
  src/ansys/materials/manager/util/matml/property_to_model_field.py
  tests/common/test_dependent_parameter.py
  tests/material_models/test_elasticity_isotropic.py
Labels: Testing, Enhancement

add mat models and tests for reading
  examples/data/MatML_unittest_density copy.xml
  examples/data/MatML_unittest_density.xml
  examples/trial.py
  src/ansys/materials/manager/_models/__init__.py
  src/ansys/materials/manager/_models/_material_models/cofficient_of_thermal_expansion_isotropic.py
  src/ansys/materials/manager/_models/_material_models/cofficient_of_thermal_expansion_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/density.py
  src/ansys/materials/manager/_models/_material_models/elasticity_anisotropic.py
  src/ansys/materials/manager/_models/_material_models/elasticity_isotropic.py
  src/ansys/materials/manager/_models/_material_models/thermal_conductivity_isotropic.py
  src/ansys/materials/manager/_models/_material_models/thermal_conductivity_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/zero_thermal_strain_reference_temperature_isotropic.py
  src/ansys/materials/manager/_models/_material_models/zero_thermal_strain_reference_temperature_orthotropic.py
  src/ansys/materials/manager/util/matml/matml_from_material.py
  src/ansys/materials/manager/util/matml/matml_parser.py
  src/ansys/materials/manager/util/matml/matml_to_material.py
  src/ansys/materials/manager/util/matml/property_to_model_field.py
  tests/data/MatML_unittest_density.xml
  tests/data/MatML_unittest_elasticity.xml
  tests/data/MatML_unittest_instantaneous_thermal_coeffs.xml
  tests/data/MatML_unittest_multilinear_isotropic_hardening.xml
  tests/data/MatML_unittest_thermal_coeffs.xml
  tests/data/MatML_unittest_thermal_conductivity.xml
  tests/data/MatML_unittest_voce_isotropic_hardening.xml
  tests/matml/test_density.py
  tests/matml/test_elasticity.py
  tests/matml/test_isotropic_hardening.py
  tests/matml/test_thermal_conductivity.py
  tests/matml/test_thermal_expansion_coefficients.py
  tests/matml/utilities.py
Labels: Testing, Enhancement

add remaining models
  src/ansys/materials/manager/_models/__init__.py
  src/ansys/materials/manager/_models/_common/user_parameter.py
  src/ansys/materials/manager/_models/_material_models/fabric_fiber_angle.py
  src/ansys/materials/manager/_models/_material_models/fiber_angle.py
  src/ansys/materials/manager/_models/_material_models/hill_yield_criterion.py
  src/ansys/materials/manager/_models/_material_models/kinematic_hardening.py
  src/ansys/materials/manager/_models/_material_models/ply_type.py
  src/ansys/materials/manager/_models/_material_models/puck_constants.py
  src/ansys/materials/manager/_models/_material_models/puck_constants_additional.py
  src/ansys/materials/manager/_models/_material_models/strain_hardening.py
  src/ansys/materials/manager/_models/_material_models/strain_limits_isotropic.py
  src/ansys/materials/manager/_models/_material_models/strain_limits_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/stress_limits_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/usermat.py
  src/ansys/materials/manager/util/matml/matml_to_material.py
  src/ansys/materials/manager/util/matml/property_to_model_field.py
  tests/data/MatML_unittest_fabric_fiber_angle.xml
  tests/data/MatML_unittest_hill_yield.xml
  tests/data/MatML_unittest_hill_yield_creep.xml
  tests/data/MatML_unittest_puck_for_woven.xml
  tests/data/MatML_unittest_strain_limit.xml
  tests/data/MatML_unittest_usermat.xml
  tests/matml/test_density.py
  tests/matml/test_fabric_fiber_angle.py
  tests/matml/test_hill_yield.py
  tests/matml/test_puck_and_additional_puck.py
  tests/matml/test_strain_limits.py
  tests/matml/test_user_mat.py
Labels: Testing, Enhancement

add more models
  examples/trial.py
  src/ansys/materials/manager/_models/__init__.py
  src/ansys/materials/manager/_models/_common/_packages.py
  src/ansys/materials/manager/_models/_common/independent_parameter.py
  src/ansys/materials/manager/_models/_common/material_model.py
  src/ansys/materials/manager/_models/_material_models/color.py
  src/ansys/materials/manager/_models/_material_models/larc03_04_constants.py
  src/ansys/materials/manager/_models/_material_models/puck_constants_additional.py
  src/ansys/materials/manager/_models/_material_models/specific_heat.py
  src/ansys/materials/manager/_models/_material_models/speed_of_sound.py
  src/ansys/materials/manager/_models/_material_models/tsai_wu_constants.py
  src/ansys/materials/manager/_models/_material_models/usermat.py
  src/ansys/materials/manager/_models/_material_models/viscosity.py
  src/ansys/materials/manager/_models/material.py
  src/ansys/materials/manager/util/matml/matml_from_material.py
  src/ansys/materials/manager/util/matml/matml_to_material.py
  src/ansys/materials/manager/util/matml/property_to_model_field.py
  tests/data/MatML_unittest_specific_heat.xml
  tests/data/MatML_unittest_speed_of_sound.xml
  tests/matml/test_density.py
Labels: Testing, Enhancement

rem color
  src/ansys/materials/manager/_models/__init__.py
Labels: Enhancement

fix
  src/ansys/materials/manager/util/matml/matml_to_material.py
  tests/data/MatML_unittest_larc.xml
  tests/data/MatML_unittest_tsai_wu.xml
Labels: Testing, Enhancement

add tsai-wu test
  tests/matml/test_tsai_wu.py
Labels: Testing

remove matml from examples
  examples/data/MatML_unittest_density copy.xml
  examples/data/MatML_unittest_density.xml
  examples/data/MatML_unittest_variable_elasticity.xml
  examples/data/MatML_unittest_voce_isotropic_hardening.xml
Labels: none

fix tests after color implementation
  src/ansys/materials/manager/_models/__init__.py
  tests/matml/test_density.py
  tests/matml/test_elasticity.py
  tests/matml/test_fabric_fiber_angle.py
  tests/matml/test_hill_yield.py
  tests/matml/test_isotropic_hardening.py
  tests/matml/test_puck_and_additional_puck.py
  tests/matml/test_strain_limits.py
  tests/matml/test_thermal_conductivity.py
  tests/matml/test_thermal_expansion_coefficients.py
Labels: Testing, Enhancement

add specific heat tests
  src/ansys/materials/manager/_models/__init__.py
  tests/data/MatML_unittest_specific_heat.xml
  tests/matml/test_specific_heat.py
Labels: Testing, Enhancement

implement speed of sound tests
  src/ansys/materials/manager/_models/__init__.py
  tests/data/MatML_unittest_speed_of_sound.xml
  tests/matml/test_speed_of_sound.py
Labels: Testing, Enhancement

implement larc tests
  tests/data/MatML_unittest_larc.xml
  tests/matml/test_larc.py
Labels: Testing

add viscosity tests
  src/ansys/materials/manager/_models/__init__.py
  tests/data/MatML_unittest_viscosity.xml
  tests/matml/test_viscosity.py
Labels: Testing, Enhancement

fix test write density
  tests/matml/test_density.py
  tests/matml/utilities.py
Labels: Testing

add tests write elasticity
  src/ansys/materials/manager/util/matml/matml_from_material.py
  tests/matml/test_elasticity.py
Labels: Testing, Enhancement

add ply type read and fabric fiber angle
  src/ansys/materials/manager/_models/_common/material_model.py
  src/ansys/materials/manager/_models/_material_models/density.py
  src/ansys/materials/manager/_models/_material_models/fabric_fiber_angle.py
  tests/matml/test_fabric_fiber_angle.py
Labels: Testing, Enhancement

remove template
  examples/data/template1.xml
Labels: none

add test hill and hardening
  src/ansys/materials/manager/_models/_material_models/kinematic_hardening.py
  tests/matml/test_hill_yield.py
Labels: Testing, Enhancement

fix
  tests/data/MatML_unittest_puck_for_woven.xml
  tests/matml/test_puck_and_additional_puck.py
Labels: Testing

fix puck read tests
  tests/matml/test_puck_and_additional_puck.py
Labels: Testing

fix usermat tests
  tests/data/MatML_unittest_usermat.xml
  tests/matml/test_user_mat.py
Labels: Testing

add tests isotropic hardening
  src/ansys/materials/manager/_models/_material_models/isotropic_hardening.py
  tests/matml/test_isotropic_hardening.py
Labels: Testing, Enhancement

add test write larc
  tests/matml/test_larc.py
Labels: Testing

stress limits tests
  src/ansys/materials/manager/_models/_material_models/stress_limits_orthotropic.py
  tests/matml/test_puck_and_additional_puck.py
Labels: Testing, Enhancement

add write specific heat tests
  tests/matml/test_specific_heat.py
Labels: Testing

add write speed of sound
  src/ansys/materials/manager/_models/_material_models/speed_of_sound.py
  tests/matml/test_speed_of_sound.py
Labels: Testing, Enhancement

add tests
  tests/matml/test_strain_limits.py
  tests/matml/test_thermal_conductivity.py
  tests/matml/test_thermal_expansion_coefficients.py
  tests/matml/test_tsai_wu.py
Labels: Testing

add test writing viscosity
  src/ansys/materials/manager/_models/_material_models/viscosity.py
  tests/matml/test_viscosity.py
Labels: Testing, Enhancement

usermat write
  src/ansys/materials/manager/util/matml/matml_from_material.py
  tests/matml/test_user_mat.py
Labels: Testing, Enhancement

add validator pre
  src/ansys/materials/manager/_models/_material_models/cofficient_of_thermal_expansion_isotropic.py
  src/ansys/materials/manager/_models/_material_models/cofficient_of_thermal_expansion_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/elasticity_anisotropic.py
  src/ansys/materials/manager/_models/_material_models/elasticity_isotropic.py
  src/ansys/materials/manager/_models/_material_models/elasticity_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/strain_limits_isotropic.py
  src/ansys/materials/manager/_models/_material_models/strain_limits_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/stress_limits_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/thermal_conductivity_isotropic.py
  src/ansys/materials/manager/_models/_material_models/thermal_conductivity_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/zero_thermal_strain_reference_temperature_isotropic.py
  src/ansys/materials/manager/_models/_material_models/zero_thermal_strain_reference_temperature_orthotropic.py
Labels: Enhancement

general fixes
  src/ansys/materials/manager/_models/_common/independent_parameter.py
  src/ansys/materials/manager/_models/_common/interpolation_options.py
  src/ansys/materials/manager/util/common.py
  src/ansys/materials/manager/util/matml/matml_from_material.py
  src/ansys/materials/manager/util/matml/matml_to_material.py
  tests/common/test_independent_parameter.py
  tests/material_models/test_elasticity_isotropic.py
  tests/matml/test_elasticity.py
  tests/matml/test_fabric_fiber_angle.py
  tests/matml/test_hill_yield.py
  tests/matml/test_specific_heat.py
  tests/matml/test_speed_of_sound.py
  tests/matml/test_strain_limits.py
  tests/matml/test_thermal_conductivity.py
  tests/matml/test_viscosity.py
Labels: Testing, Enhancement

fixes
  src/ansys/materials/manager/_models/_common/material_model.py
  src/ansys/materials/manager/_models/material.py
Labels: Enhancement

trial
  src/ansys/materials/manager/_models/_common/dependent_parameter.py
  src/ansys/materials/manager/_models/_material_models/elasticity_isotropic.py
  src/ansys/materials/manager/_models/_material_models/elasticity_orthotropic.py
  src/ansys/materials/manager/_models/material.py
  src/ansys/materials/manager/util/matml/matml_from_material.py
  src/ansys/materials/manager/util/matml/matml_parser.py
  src/ansys/materials/manager/util/matml/matml_to_material.py
  src/ansys/materials/manager/util/matml/property_to_model_field.py
  src/ansys/materials/manager/util/matml/utils.py
  tests/matml/test_density.py
Labels: Testing, Enhancement

add units handling
  src/ansys/materials/manager/_models/_common/dependent_parameter.py
  src/ansys/materials/manager/_models/_common/independent_parameter.py
  src/ansys/materials/manager/_models/_common/units.py
  src/ansys/materials/manager/util/matml/matml_from_material.py
  src/ansys/materials/manager/util/matml/utils.py
Labels: Enhancement

adjust
  src/ansys/materials/manager/_models/_common/common.py
  src/ansys/materials/manager/_models/_common/independent_parameter.py
  src/ansys/materials/manager/_models/_common/material_model.py
  src/ansys/materials/manager/_models/_common/units.py
  src/ansys/materials/manager/_models/_material_models/color.py
  src/ansys/materials/manager/_models/_material_models/density.py
  src/ansys/materials/manager/util/matml/matml_from_material.py
  src/ansys/materials/manager/util/matml/matml_to_material.py
  src/ansys/materials/manager/util/matml/utils.py
  tests/common/test_independent_parameter.py
Labels: Testing, Enhancement

fix toml
  poetry.lock
  pyproject.toml
Labels: Maintenance, Dependencies

general fixes
  src/ansys/materials/manager/_models/_common/common.py
  src/ansys/materials/manager/_models/_material_models/cofficient_of_thermal_expansion_isotropic.py
  src/ansys/materials/manager/_models/_material_models/cofficient_of_thermal_expansion_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/color.py
  src/ansys/materials/manager/_models/_material_models/elasticity_anisotropic.py
  src/ansys/materials/manager/_models/_material_models/elasticity_isotropic.py
  src/ansys/materials/manager/_models/_material_models/elasticity_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/fabric_fiber_angle.py
  src/ansys/materials/manager/_models/_material_models/hill_yield_criterion.py
  src/ansys/materials/manager/_models/_material_models/isotropic_hardening.py
  src/ansys/materials/manager/_models/_material_models/isotropic_hardening_voce_law.py
  src/ansys/materials/manager/_models/_material_models/kinematic_hardening.py
  src/ansys/materials/manager/_models/_material_models/larc03_04_constants.py
  src/ansys/materials/manager/_models/_material_models/puck_constants.py
  src/ansys/materials/manager/_models/_material_models/puck_constants_additional.py
  src/ansys/materials/manager/_models/_material_models/specific_heat.py
  src/ansys/materials/manager/_models/_material_models/speed_of_sound.py
  src/ansys/materials/manager/_models/_material_models/strain_hardening.py
  src/ansys/materials/manager/_models/_material_models/strain_limits_isotropic.py
  src/ansys/materials/manager/_models/_material_models/strain_limits_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/stress_limits_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/thermal_conductivity_isotropic.py
  src/ansys/materials/manager/_models/_material_models/thermal_conductivity_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/tsai_wu_constants.py
  src/ansys/materials/manager/_models/_material_models/usermat.py
  src/ansys/materials/manager/_models/_material_models/viscosity.py
  src/ansys/materials/manager/_models/_material_models/zero_thermal_strain_reference_temperature_isotropic.py
  src/ansys/materials/manager/_models/_material_models/zero_thermal_strain_reference_temperature_orthotropic.py
Labels: Enhancement

fix
  tests/matml/test_viscosity.py
Labels: Testing
