Repository ansys/pymaterials-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, enhancement, testing

.github/labeler.yml:

documentation:
- doc/source/**/*
- README.rst
maintenance:
- .github/**/*
- .flake8
- pyproject.toml
dependencies:
- requirements/*
enhancement:
- src/**
testing:
- tests/**

fixes
  src/ansys/materials/manager/_models/_common/common.py
  src/ansys/materials/manager/_models/_common/independent_parameter.py
  src/ansys/materials/manager/_models/_material_models/density.py
  src/ansys/materials/manager/util/matml/matml_from_material.py
  src/ansys/materials/manager/util/matml/matml_to_material.py
  tests/matml/test_density.py
Labels: enhancement, testing

fixes
  src/ansys/materials/manager/_models/_common/common.py
  src/ansys/materials/manager/_models/_material_models/elasticity_anisotropic.py
  src/ansys/materials/manager/_models/_material_models/elasticity_isotropic.py
  src/ansys/materials/manager/_models/_material_models/elasticity_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/fabric_fiber_angle.py
  tests/data/anisotropic_elasticity.txt
  tests/data/anisotropic_elasticity_metadata.txt
  tests/data/density.txt
  tests/data/density_metadata.txt
  tests/data/density_variable.txt
  tests/data/fabric_fiber_angle.txt
  tests/data/fabric_fiber_angle_metadata.txt
  tests/data/fabric_fiber_angle_variable.txt
  tests/data/fabric_fiber_angle_variable_metadata.txt
  tests/data/isotropic_elasticity.txt
  tests/data/isotropic_elasticity_metadata.txt
  tests/data/isotropic_elasticity_variable.txt
  tests/data/orthotropic_elasticity.txt
  tests/data/orthotropic_elasticity_metadata.txt
  tests/data/orthotropic_elasticity_variable.txt
  tests/data/ply_type.txt
  tests/data/ply_type_metadata.txt
  tests/matml/elasticity_xml_string.py
  tests/matml/test_density.py
  tests/matml/test_elasticity.py
  tests/matml/test_fabric_fiber_angle.py
  tests/matml/test_hill_yield.py
  tests/matml/utilities.py
Labels: enhancement, testing

fixes
  src/ansys/materials/manager/_models/_common/common.py
  src/ansys/materials/manager/_models/_material_models/hill_yield_criterion.py
  src/ansys/materials/manager/_models/_material_models/isotropic_hardening_voce_law.py
  src/ansys/materials/manager/_models/_material_models/kinematic_hardening.py
  src/ansys/materials/manager/_models/_material_models/strain_hardening.py
  tests/data/hill_yield.txt
  tests/data/hill_yield_creep.txt
  tests/data/hill_yield_creep_metadata.txt
  tests/data/hill_yield_metadata.txt
  tests/data/hill_yield_variable.txt
  tests/data/kinematic_harderning.txt
  tests/data/kinematic_harderning_metadata.txt
  tests/data/strain_hardening.txt
  tests/data/strain_hardening_metadata.txt
  tests/matml/test_hill_yield.py
Labels: enhancement, testing

fix read hardening
  src/ansys/materials/manager/_models/_material_models/isotropic_hardening.py
  tests/matml/test_isotropic_hardening.py
Labels: enhancement, testing

fix read
  tests/data/isotropic_hardening_multilinear.txt
  tests/data/isotropic_hardening_multilinear_metadata.txt
  tests/data/isotropic_hardening_multilinear_variable.txt
  tests/data/isotropic_hardening_voce.txt
  tests/data/isotropic_hardening_voce_metadata.txt
  tests/data/isotropic_hardening_voce_variable.txt
  tests/matml/test_isotropic_hardening.py
Labels: testing

add tests
  src/ansys/materials/manager/_models/_material_models/larc03_04_constants.py
  src/ansys/materials/manager/_models/_material_models/puck_constants.py
  src/ansys/materials/manager/_models/_material_models/puck_constants_additional.py
  src/ansys/materials/manager/_models/_material_models/stress_limits_orthotropic.py
  src/ansys/materials/manager/util/matml/matml_from_material.py
  tests/data/fiber_angle.txt
  tests/data/fiber_angle_metadata.txt
  tests/data/larc.txt
  tests/data/larc_metadata.txt
  tests/data/larc_variable.txt
  tests/data/puck.txt
  tests/data/puck_metadata.txt
  tests/matml/test_isotropic_hardening.py
  tests/matml/test_larc.py
  tests/matml/test_puck_and_additional_puck.py
Labels: enhancement, testing

fix toml
  pyproject.toml
Labels: maintenance

write apdl
  src/ansys/materials/manager/_models/_mapdl/mapdl_constant_material_strings.py
  src/ansys/materials/manager/_models/_mapdl/mapdl_temperature_strings.py
  src/ansys/materials/manager/_models/_mapdl/mapdl_variable_material_strings.py
  src/ansys/materials/manager/_models/_material_models/density.py
  src/ansys/materials/manager/_models/material.py
  tests/mapdl/test_density.py
Labels: enhancement, testing

fix supported package and model qualifiers
  src/ansys/materials/manager/_models/_common/_packages.py
  src/ansys/materials/manager/_models/_common/material_model.py
  src/ansys/materials/manager/_models/_material_models/cofficient_of_thermal_expansion_isotropic.py
  src/ansys/materials/manager/_models/_material_models/cofficient_of_thermal_expansion_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/color.py
  src/ansys/materials/manager/_models/_material_models/density.py
  src/ansys/materials/manager/_models/_material_models/elasticity_anisotropic.py
  src/ansys/materials/manager/_models/_material_models/elasticity_isotropic.py
  src/ansys/materials/manager/_models/_material_models/elasticity_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/fabric_fiber_angle.py
  src/ansys/materials/manager/_models/_material_models/fiber_angle.py
  src/ansys/materials/manager/_models/_material_models/hill_yield_criterion.py
  src/ansys/materials/manager/_models/_material_models/isotropic_hardening.py
  src/ansys/materials/manager/_models/_material_models/isotropic_hardening_voce_law.py
  src/ansys/materials/manager/_models/_material_models/kinematic_hardening.py
  src/ansys/materials/manager/_models/_material_models/larc03_04_constants.py
  src/ansys/materials/manager/_models/_material_models/ply_type.py
  src/ansys/materials/manager/_models/_material_models/puck_constants.py
  src/ansys/materials/manager/_models/_material_models/puck_constants_additional.py
  src/ansys/materials/manager/_models/_material_models/specific_heat.py
  src/ansys/materials/manager/_models/_material_models/speed_of_sound.py
  src/ansys/materials/manager/_models/_material_models/strain_hardening.py
  src/ansys/materials/manager/_models/_material_models/strain_limits_isotropic.py
  src/ansys/materials/manager/_models/_material_models/strain_limits_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/stress_limits_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/thermal_conductivity_isotropic.py
  src/ansys/materials/manager/_models/_material_models/thermal_conductivity_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/tsai_wu_constants.py
  src/ansys/materials/manager/_models/_material_models/usermat.py
  src/ansys/materials/manager/_models/_material_models/viscosity.py
  src/ansys/materials/manager/_models/_material_models/zero_thermal_strain_reference_temperature_isotropic.py
  src/ansys/materials/manager/_models/_material_models/zero_thermal_strain_reference_temperature_orthotropic.py
Labels: enhancement

fix init
  src/ansys/materials/manager/_models/_common/material_model.py
Labels: enhancement

fixes
  src/ansys/materials/manager/util/matml/matml_from_material.py
  src/ansys/materials/manager/util/matml/matml_parser.py
  src/ansys/materials/manager/util/matml/matml_property_map.py
  src/ansys/materials/manager/util/matml/matml_to_material.py
  src/ansys/materials/manager/util/matml/utils.py
Labels: enhancement

small fixes
  src/ansys/materials/manager/util/matml/matml_from_material.py
  src/ansys/materials/manager/util/matml/matml_parser.py
  src/ansys/materials/manager/util/matml/matml_to_material.py
Labels: enhancement

add write density
  .pre-commit-config.yaml
  src/ansys/materials/manager/_models/_common/__init__.py
  src/ansys/materials/manager/_models/_common/common.py
  src/ansys/materials/manager/_models/_common/material_model.py
  src/ansys/materials/manager/_models/_mapdl/mapdl_constant_material_strings.py
  src/ansys/materials/manager/_models/_mapdl/mapdl_temperature_strings.py
  src/ansys/materials/manager/_models/_mapdl/mapdl_variable_material_strings.py
  src/ansys/materials/manager/_models/_material_models/density.py
  src/ansys/materials/manager/util/mapdl/__init__.py
  src/ansys/materials/manager/util/mapdl/mapdl_snippets_strings.py
  src/ansys/materials/manager/util/mapdl/mapdl_writer.py
  tests/common/test_material_model.py
  tests/mapdl/test_density.py
Labels: enhancement, testing

fix material id
  src/ansys/materials/manager/_models/_common/material_model.py
  src/ansys/materials/manager/_models/_material_models/cofficient_of_thermal_expansion_isotropic.py
  src/ansys/materials/manager/_models/_material_models/cofficient_of_thermal_expansion_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/color.py
  src/ansys/materials/manager/_models/_material_models/density.py
  src/ansys/materials/manager/_models/_material_models/elasticity_anisotropic.py
  src/ansys/materials/manager/_models/_material_models/elasticity_isotropic.py
  src/ansys/materials/manager/_models/_material_models/elasticity_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/fabric_fiber_angle.py
  src/ansys/materials/manager/_models/_material_models/fiber_angle.py
  src/ansys/materials/manager/_models/_material_models/hill_yield_criterion.py
  src/ansys/materials/manager/_models/_material_models/isotropic_hardening.py
  src/ansys/materials/manager/_models/_material_models/isotropic_hardening_voce_law.py
  src/ansys/materials/manager/_models/_material_models/kinematic_hardening.py
  src/ansys/materials/manager/_models/_material_models/larc03_04_constants.py
  src/ansys/materials/manager/_models/_material_models/ply_type.py
  src/ansys/materials/manager/_models/_material_models/puck_constants.py
  src/ansys/materials/manager/_models/_material_models/puck_constants_additional.py
  src/ansys/materials/manager/_models/_material_models/specific_heat.py
  src/ansys/materials/manager/_models/_material_models/speed_of_sound.py
  src/ansys/materials/manager/_models/_material_models/strain_hardening.py
  src/ansys/materials/manager/_models/_material_models/strain_limits_isotropic.py
  src/ansys/materials/manager/_models/_material_models/strain_limits_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/stress_limits_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/thermal_conductivity_isotropic.py
  src/ansys/materials/manager/_models/_material_models/thermal_conductivity_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/tsai_wu_constants.py
  src/ansys/materials/manager/_models/_material_models/usermat.py
  src/ansys/materials/manager/_models/_material_models/viscosity.py
  src/ansys/materials/manager/_models/_material_models/zero_thermal_strain_reference_temperature_isotropic.py
  src/ansys/materials/manager/_models/_material_models/zero_thermal_strain_reference_temperature_orthotropic.py
Labels: enhancement

fix units method
  src/ansys/materials/manager/util/matml/matml_from_material.py
  src/ansys/materials/manager/util/matml/utils.py
Labels: enhancement

add write
  src/ansys/materials/manager/_models/_material_models/density.py
  src/ansys/materials/manager/_models/_material_models/elasticity_isotropic.py
  src/ansys/materials/manager/_models/_material_models/elasticity_orthotropic.py
  src/ansys/materials/manager/util/mapdl/mapdl_snippets_strings.py
  src/ansys/materials/manager/util/mapdl/mapdl_writer.py
Labels: enhancement

fixes
  .codespellrc
  src/ansys/materials/manager/_models/_material_models/density.py
  src/ansys/materials/manager/util/mapdl/mapdl_snippets_strings.py
  src/ansys/materials/manager/util/mapdl/mapdl_writer.py
  tests/data/mapdl_density_a11_a22.cdb
  tests/data/mapdl_density_a11_a22_temp.cdb
  tests/data/mapdl_density_a11_a22_temp_interp.cdb
  tests/data/mapdl_density_constant.cdb
  tests/data/mapdl_density_variable_1.cdb
  tests/data/mapdl_density_variable_2.cdb
  tests/mapdl/test_density.py
Labels: enhancement, testing

mpdl write elasticity isotropic
  src/ansys/materials/manager/_models/_material_models/density.py
  src/ansys/materials/manager/_models/_material_models/elasticity_isotropic.py
  tests/data/mapdl_elasticity_isotropic_constant.cdb
  tests/mapdl/test_elasticity.py
Labels: enhancement, testing

fixes
  src/ansys/materials/manager/_models/_material_models/density.py
  src/ansys/materials/manager/_models/_material_models/elasticity_isotropic.py
  src/ansys/materials/manager/_models/_material_models/elasticity_orthotropic.py
  src/ansys/materials/manager/util/mapdl/mapdl_writer.py
  tests/data/mapdl_elasticity_isotropic_variable.cdb
  tests/data/mapdl_elasticity_orthotropic_constant.cdb
  tests/data/mapdl_elasticity_orthotropic_variable.cdb
  tests/mapdl/test_elasticity.py
Labels: enhancement, testing

fix all orthotropic
  src/ansys/materials/manager/_models/_material_models/elasticity_isotropic.py
  src/ansys/materials/manager/_models/_material_models/elasticity_orthotropic.py
  src/ansys/materials/manager/util/mapdl/mapdl_writer.py
  tests/data/mapdl_elasticity_orthotropic_variable_a11_a22.cdb
  tests/data/mapdl_elasticity_orthotropic_variable_temp_a11_a22.cdb
  tests/mapdl/test_elasticity.py
Labels: enhancement, testing

anisotropic elasticity
  src/ansys/materials/manager/_models/_material_models/elasticity_anisotropic.py
  src/ansys/materials/manager/util/mapdl/mapdl_writer.py
  tests/data/mapdl_elasticity_anisotropic_constant.cdb
  tests/mapdl/test_elasticity.py
Labels: enhancement, testing

add hill
  src/ansys/materials/manager/_models/_material_models/hill_yield_criterion.py
  src/ansys/materials/manager/util/mapdl/mapdl_snippets_strings.py
  src/ansys/materials/manager/util/mapdl/mapdl_writer.py
  tests/data/mapdl_density_a11_a22_temp_interp.cdb
  tests/data/mapdl_elasticity_orthotropic_variable_temp_a11_a22.cdb
  tests/data/mapdl_hill_constant.cdb
  tests/data/mapdl_hill_variable_a11_a22.cdb
  tests/data/mapdl_hill_variable_temp.cdb
  tests/mapdl/test_hill_yield.py
Labels: enhancement, testing

fix more tests
  src/ansys/materials/manager/_models/_material_models/hill_yield_criterion.py
  src/ansys/materials/manager/util/mapdl/mapdl_writer.py
  tests/data/mapdl_hill_creep_constant.cdb
  tests/data/mapdl_hill_creep_variable_temp.cdb
  tests/mapdl/test_hill_yield.py
Labels: enhancement, testing

add isotropic hardening
  src/ansys/materials/manager/_models/_material_models/density.py
  src/ansys/materials/manager/_models/_material_models/elasticity_isotropic.py
  src/ansys/materials/manager/_models/_material_models/elasticity_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/hill_yield_criterion.py
  src/ansys/materials/manager/_models/_material_models/isotropic_hardening.py
  src/ansys/materials/manager/util/mapdl/mapdl_snippets_strings.py
  src/ansys/materials/manager/util/mapdl/mapdl_writer.py
  tests/data/mapdl_density_a11_a22.cdb
  tests/data/mapdl_density_a11_a22_temp.cdb
  tests/data/mapdl_density_a11_a22_temp_interp.cdb
  tests/data/mapdl_elasticity_isotropic_constant.cdb
  tests/data/mapdl_elasticity_orthotropic_variable_a11_a22.cdb
  tests/data/mapdl_elasticity_orthotropic_variable_temp_a11_a22.cdb
  tests/data/mapdl_isotropic_hardening_multilinear_constant.cdb
  tests/data/mapdl_isotropic_hardening_multilinear_variable.cdb
  tests/mapdl/test_elasticity.py
  tests/mapdl/test_hill_yield.py
  tests/mapdl/test_isotropic_hardening.py
Labels: enhancement, testing

add example
  src/ansys/materials/manager/util/mapdl/mapdl_writer.py
Labels: enhancement

build: numpy deps
  pyproject.toml
Labels: maintenance

chore: upgrade poetry lockfile
  poetry.lock
Labels: none

build: numpy deps (#380)
  poetry.lock
  pyproject.toml
Labels: maintenance

fix codestyle
  src/ansys/materials/manager/util/matml/matml_to_material.py
Labels: enhancement

run poetry lock
  poetry.lock
Labels: none

make test run
  tests/fluent/test_serialize_props.py
  tests/mapdl/test_density_mapdl.py
  tests/mapdl/test_elasticity_mapdl.py
  tests/mapdl/test_hill_yield_mapdl.py
  tests/mapdl/test_isotropic_hardening_mapdl.py
  tests/mapdl/test_manager_integration.py
  tests/mapdl/test_serialize_common.py
  tests/material_models/test_anisotropic_elasticity.py
  tests/material_models/test_elasticity_isotropic.py
  tests/matml/test_density_matml.py
  tests/matml/test_elasticity_matml.py
  tests/matml/test_fabric_fiber_angle_matml.py
  tests/matml/test_hill_yield_matml.py
  tests/matml/test_isotropic_hardening_matml.py
  tests/matml/test_larc_matml.py
  tests/matml/test_matml_from_material.py
  tests/matml/test_matml_from_material_matml.py
  tests/matml/test_matml_reader_matml.py
  tests/matml/test_matml_to_material_matml.py
  tests/matml/test_puck_and_additional_puck_matml.py
  tests/matml/test_specific_heat_matml.py
  tests/matml/test_speed_of_sound_matml.py
  tests/matml/test_strain_limits_matml.py
  tests/matml/test_thermal_conductivity_matml.py
  tests/matml/test_thermal_expansion_coefficients_matml.py
  tests/matml/test_tsai_wu_matml.py
  tests/matml/test_user_mat_matml.py
  tests/matml/test_viscosity_matml.py
  tests/test_materials.py
Labels: testing

add read and bit of fluent
  src/ansys/materials/manager/_models/_material_models/__init__.py
  src/ansys/materials/manager/_models/_material_models/density.py
  src/ansys/materials/manager/_models/_material_models/elasticity_orthotropic.py
  src/ansys/materials/manager/_models/_material_models/molecular_weight.py
  src/ansys/materials/manager/util/mapdl/mapdl_reader.py
  src/ansys/materials/manager/util/mapdl/mpdata_parser.py
  tests/data/mapdl_elasticity_orthotropic_constant.cdb
  tests/data/mapdl_elasticity_orthotropic_variable.cdb
  tests/fluent/test_density_fluent.py
  tests/fluent/test_molecular_weight_fluent.py
  tests/mapdl/test_density_mapdl_write.py
  tests/mapdl/test_elasticity_mapdl_read.py
  tests/mapdl/test_elasticity_mapdl_write.py
  tests/mapdl/test_hill_yield_mapdl_write.py
  tests/mapdl/test_isotropic_hardening_mapdl_write.py
  tests/mapdl/test_manager_integration.py
  tests/mapdl/test_serialize_common.py
  tests/test_materials.py
Labels: enhancement, testing

remove mpdata_parser
  src/ansys/materials/manager/util/mapdl/mpdata_parser.py
Labels: enhancement

comment_tbdata_parser
  src/ansys/materials/manager/util/mapdl/tbdata_parser.py
Labels: enhancement

delete demo file
  linear_elastic_material.xml
Labels: none

remove display from usermat
  src/ansys/materials/manager/_models/_common/user_parameter.py
  src/ansys/materials/manager/util/matml/matml_from_material.py
  src/ansys/materials/manager/util/matml/matml_to_material.py
  tests/matml/test_user_mat_matml.py
Labels: enhancement, testing

reduce coverage target
  codecov.yml
Labels: none

fix numpydoc
  poetry.lock
  pyproject.toml
Labels: maintenance

fix test failures
  src/ansys/materials/manager/_models/_material_models/density.py
Labels: enhancement

add xfail
  tests/mapdl/test_elasticity_mapdl_read.py
Labels: testing
