Repository ansys/pymaterials-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, enhancement, testing

remuve grpc
  .github/workflows/ci_cd.yml
Labels: maintenance

fix insecure connection
  .github/workflows/ci_cd.yml
  tests/dpf_gil/test_query_material.py
Labels: maintenance, testing

precommit
  tests/dpf_gil/test_query_material.py
Labels: testing

change port ver
  .github/workflows/ci_cd.yml
Labels: maintenance

check servers
  tests/dpf_gil/test_query_material.py
Labels: testing

protocol
  tests/dpf_gil/test_query_material.py
Labels: testing

fix poisson ratio
  tests/dpf_gil/test_query_material.py
Labels: testing

avail service
  tests/dpf_gil/test_query_material.py
Labels: testing

fake awp root
  .github/workflows/ci_cd.yml
Labels: maintenance

fake awp root
  .github/workflows/ci_cd.yml
  src/ansys/materials/manager/_models/_common/material_model.py
  tests/dpf_gil/test_query_material.py
Labels: maintenance, testing

trial
  .github/workflows/ci_cd.yml
  src/ansys/materials/manager/_models/_common/material_model.py
Labels: maintenance

trial
  tests/dpf_gil/test_query_material.py
Labels: testing

trial
  src/ansys/materials/manager/_models/_common/material_model.py
Labels: none

trial
  src/ansys/materials/manager/_models/_common/material_model.py
Labels: none

trial
  src/ansys/materials/manager/_models/_common/material_model.py
  tests/dpf_gil/test_query_material.py
Labels: testing

final fixes
  .github/workflows/ci_cd.yml
  src/ansys/materials/manager/_models/_common/material_model.py
Labels: maintenance

implement old md test
  src/ansys/materials/manager/_models/_common/material_model.py
  tests/dpf_gil/test_query_material.py
Labels: testing

remove examples
  examples/data/material_isotropic_GIL.xml
  examples/trial_gil.py
Labels: none

fix naming
  .github/workflows/ci_cd.yml
Labels: maintenance

fix naming
  .github/workflows/ci_cd.yml
Labels: maintenance

fix naming
  tests/dpf_gil/test_query_material.py
Labels: testing

fix naming
  tests/dpf_gil/test_query_material.py
Labels: testing

add server
  tests/dpf_gil/test_query_material.py
Labels: testing

fix values
  tests/dpf_gil/test_query_material.py
Labels: testing

fix values
  tests/dpf_gil/test_query_material.py
Labels: testing

more tests
  src/ansys/materials/manager/_models/_common/material_model.py
  tests/dpf_gil/test_query_material.py
Labels: testing

more tests
  src/ansys/materials/manager/_models/_common/material_model.py
  src/ansys/materials/manager/_models/material.py
  tests/common/test_material_model.py
Labels: testing

more tests
  tests/dpf_gil/test_query_material.py
Labels: testing

more tests
  tests/dpf_gil/test_query_material.py
Labels: testing

reformatting
  tests/dpf_gil/test_query_material.py
Labels: testing

fix
  src/ansys/materials/manager/_models/_common/material_model.py
  tests/dpf_gil/test_query_material.py
Labels: testing

address comments
  .github/workflows/ci_cd.yml
  src/ansys/materials/manager/_models/_common/material_model.py
  tests/dpf_gil/test_query_material.py
Labels: maintenance, testing

fix dpf option
  pyproject.toml
Labels: maintenance

fix mypy
  src/ansys/materials/manager/_models/_common/material_model.py
Labels: none

feat implement gil query at material model level (#529)
  .github/workflows/ci_cd.yml
  pyproject.toml
  src/ansys/materials/manager/_models/_common/common.py
  src/ansys/materials/manager/_models/_common/material_model.py
  src/ansys/materials/manager/_models/material.py
  src/ansys/materials/manager/parsers/matml/matml_reader.py
  tests/common/test_material_model.py
  tests/dpf_gil/test_query_material.py
Labels: maintenance, testing

chore: update LICENSE file
  LICENSE
Labels: none

chore: update AUTHORS file
  AUTHORS
Labels: none

Add Synopsys variations to accept.txt
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: none

chore: Update missing or outdated files (#555)
  AUTHORS
  LICENSE
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: none

ci: install integrations extra for wheelhouse smoke tests
  .github/workflows/ci_cd.yml
  pyproject.toml
  uv.lock
Labels: maintenance

.github/labeler.yml:

documentation:
- doc/source/**/*
- README.rst
maintenance:
- .github/**/*
- .flake8
- pyproject.toml
dependencies:
- requirements/*
enhancement:
- ansys/**
testing:
- tests/**
