Repository ansys/pymaterials-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, enhancement, testing

.github/labeler.yml:

documentation:
- doc/source/**/*
- README.rst
maintenance:
- .github/**/*
- .flake8
- pyproject.toml
dependencies:
- requirements/*
enhancement:
- ansys/**
testing:
- tests/**

Apply suggestion from @germa89
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: Update MAPDL integration test command to use OpenMPI for improved performance
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: Update MAPDL Docker run configuration for improved stability
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: Update MAPDL Docker run configuration to allow root execution for OpenMPI
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: Update MAPDL command in CI configuration to use ansysgrpc
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: Update MAPDL Docker run command to include ansysgrpc for remote execution
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: Update MAPDL integration test command to log output for better debugging
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: Set PYMAPDL_GRPC_TRANSPORT to insecure for MAPDL integration tests
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: Move PYMAPDL_GRPC_TRANSPORT to tox.ini for integration tests
  .github/workflows/ci_cd.yml
  tox.ini
Labels: maintenance

fix: Remove 'local=False' from MAPDL connection in test fixtures since it is not needed.
  tests/mapdl/test_density_mapdl_read.py
  tests/mapdl/test_elasticity_mapdl_read.py
  tests/mapdl/test_hill_yield_mapdl_read.py
  tests/material_manger/test_material_manager.py
Labels: testing

fix: Remove quotes around 'insecure' for PYMAPDL_GRPC_TRANSPORT in tox.ini
  tox.ini
Labels: none

fix: Remove MAPDL log collection steps from CI workflow
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: Add health check parameters for MAPDL Docker container
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: Set local=False for MAPDL connection in test fixtures
  tests/mapdl/test_density_mapdl_read.py
  tests/mapdl/test_elasticity_mapdl_read.py
  tests/mapdl/test_hill_yield_mapdl_read.py
  tests/material_manger/test_material_manager.py
Labels: testing

fix: Remove commented connection line in MAPDL fixture
  tests/mapdl/test_density_mapdl_read.py
Labels: testing

fix: Remove health check parameters from MAPDL Docker run command
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: Add entrypoint to MAPDL Docker run command
  .github/workflows/ci_cd.yml
Labels: maintenance

Enable local insecure connections for MAPDL integration tests (#469)
  .github/workflows/ci_cd.yml
  tox.ini
Labels: maintenance

Enable integration tests, use CI bot credentials
  .github/workflows/ci_cd.yml
Labels: maintenance

Add cooldown settings to dependabot.yml (#468)
  .github/dependabot.yml
Labels: maintenance

Enable integration tests, use CI bot credentials (#471)
  .github/workflows/ci_cd.yml
Labels: maintenance

Update CONTRIBUTORS.md with the latest contributors
  CONTRIBUTORS.md
Labels: none

Update CONTRIBUTORS.md with the latest contributors (#472)
  CONTRIBUTORS.md
Labels: none

build(ci): replace manual MAPDL start with launch-mapdl-action
  .github/workflows/ci_cd.yml
Labels: maintenance

build(ci): update MAPDL launch action to use official repository
  .github/workflows/ci_cd.yml
Labels: maintenance

Apply suggestion from @germa89
  .github/workflows/ci_cd.yml
Labels: maintenance

Apply suggestion from @germa89
  .github/workflows/ci_cd.yml
Labels: maintenance

Skip coverage upload for dependabot
  .github/workflows/ci_cd.yml
Labels: maintenance

Skip coverage upload for dependabot (#479)
  .github/workflows/ci_cd.yml
Labels: maintenance

Update ci_cd.yml
  .github/workflows/ci_cd.yml
Labels: maintenance

Update accept.txt
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: none

Bump pygments to 2.20.0
  poetry.lock
Labels: none

add implementation
  LICENSE
  examples/data/material_isotropic_GIL.xml
  examples/trial_gil.py
  poetry.lock
  src/ansys/materials/manager/_models/_common/common.py
  src/ansys/materials/manager/_models/_common/material_model.py
  src/ansys/materials/manager/parsers/matml/matml_reader.py
Labels: none

Update CONTRIBUTORS.md with the latest contributors
  CONTRIBUTORS.md
Labels: none

add
  src/ansys/materials/manager/_models/_material_models/crystal_plasticity.py
  src/ansys/materials/manager/parsers/mapdl/mapdl_writer.py
  tests/mapdl/test_crystal_plasticity.py
Labels: testing

Update minimum Python version
  poetry.lock
  pyproject.toml
Labels: maintenance

Add new Python version to CI
  .github/workflows/ci_cd.yml
Labels: maintenance

Add new Python version to tox
  tox.ini
Labels: none

Run poetry update
  poetry.lock
Labels: none

Support Python 3.14 (#524)
  .github/workflows/ci_cd.yml
  poetry.lock
  pyproject.toml
  tox.ini
Labels: maintenance
